# **Problem Statement** : Merging Datasets of Flats and Houses into a Unified Property Listing Dataset

# **Background**:
Real estate agencies often deal with diverse property types, including flats and houses, each with distinct attributes. To provide a comprehensive and user-friendly property listing platform, it is crucial to merge these distinct datasets into a single cohesive dataset. This will streamline property search and comparison for potential buyers or renters.

# **Objective**:
The aim of this project is to merge two different datasets containing information about flats and houses into a single dataset, creating a unified property listing dataset. This dataset will serve as a foundation for building an efficient and user-friendly property listing platform.

# **Datasets**:

*Dataset A*: Contains information about flats, including attributes such as property name, property type, society, price, price per square foot, area, number of bedrooms, bathrooms, balconies, additional rooms, address, floor number, facing direction, age of possession, nearby locations, description, furnishing details, features, and rating.

*Dataset B*: Contains information about houses, including similar attributes as Dataset A, such as property name, property type, society, price, price per square foot, area, number of bedrooms, bathrooms, balconies, additional rooms, address, floor number, facing direction, age of possession, nearby locations, description, furnishing details, features, and rating.

# **Deliverables**:
The successful completion of this project will result in a unified property listing dataset that combines the information from both flat and house datasets. The merged dataset should be clean, consistent, and ready for further analysis and integration into a property listing platform.

# **Impact**:
This merged dataset will enable real estate agencies and property listing platforms to offer a more comprehensive and user-friendly experience to potential buyers or renters. It will streamline property search, comparison, and decision-making, ultimately enhancing the efficiency of the real estate market.

# **Import Basic Libraries**

In [1]:
import numpy as np
import pandas as pd

# **Import Datsets**

In [2]:
flats = pd.read_csv('flats_cleaned.csv')
houses = pd.read_csv('houses_cleaned.csv')

# **Merge flats and Houses**

In [3]:
df = pd.concat([flats,houses],ignore_index=True)

In [4]:
df = df.sample(df.shape[0],ignore_index=True)

In [6]:
df.sample(5)

,property_name,property_type,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
3726,2 BHK Flat in Sohna,flat,ashiana anmol,0.88,11125.0,791.0,Super Built up area 1275(118.45 sq.m.)Carpet a...,2,2,2,not available,"Sohna, Gurgaon, Haryana",13.0,East,1 to 5 Year Old,"['Global Signum Plaza', 'Airia Mall', 'Sohna R...",Fully furnished flat with southfacing balconie...,"['1 Water Purifier', '4 Fan', '1 Exhaust Fan',...","['Security / Fire Alarm', 'Feng Shui / Vaastu ...","['Green Area4 out of 5', 'Amenities4 out of 5'..."
1954,4 BHK Flat in Sector 69 Gurgaon,flat,tulip violet,1.76,8756.0,2010.0,Super Built up area 2010(186.74 sq.m.),4,4,2,not available,"Sector 69 Gurgaon, Gurgaon, Haryana",6.0,North,1 to 5 Year Old,"['Airia Mall Sector 68', 'Southern Peripheral ...",Tulip violet - Ready to move apartments in gur...,"['4 Wardrobe', '1 Modular Kitchen', '1 Chimney...","['Security / Fire Alarm', 'Power Back-up', 'Fe...","['Green Area5 out of 5', 'Construction4 out of..."
2883,4 Bedroom House for sale in Sector 48 Gurgaon,house,vipul tatvam villa,8.40,21000.0,4000.0,Plot area 4000(371.61 sq.m.),4,5,3+,"pooja room,study room,servant room","Sector 48 Gurgaon, Gurgaon, Haryana",2.0,North,5 to 10 Year Old,"['Athena', 'Star Mall', 'The Sixth Element Sch...",Wishing to settle down in an individual house ...,"['5 Wardrobe', '6 Fan', '1 Exhaust Fan', '4 Ge...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment4 out of 5', 'Lifestyle4 out of 5..."
2289,3 Bedroom House for sale in Sector 49 Gurgaon,house,eros rosewood villas,2.50,13513.0,1850.0,Plot area 1530(142.14 sq.m.)Built Up area: 190...,3,3,2,"pooja room,store room","A11, Sector 49 Gurgaon, Gurgaon, Haryana",2.0,East,5 to 10 Year Old,"['Sri Radhe Krishna Temple', 'Standard charter...",3bhk duplex villa for sale in rosewood city\nF...,"['3 Wardrobe', '6 Fan', '4 Light', '1 Modular ...","['Private Garden / Terrace', 'Maintenance Staf...","['Environment4 out of 5', 'Safety5 out of 5', ..."
1145,3 BHK Flat in Sector 102 Gurgaon,flat,emaar gurgaon greens,1.30,7878.0,1650.0,Super Built up area 1650(153.29 sq.m.)Carpet a...,3,3,3,servant room,"A123, Sector 102 Gurgaon, Gurgaon, Haryana",7.0,North-East,1 to 5 Year Old,"['JMS Marine Square Mall', 'Dwarka Expressway'...","A 3 bedroom flat, located in sector-102 gurgao...","['1 Geyser', 'No AC', 'No Bed', 'No Chimney', ...","['Security / Fire Alarm', 'Intercom Facility',...","['Green Area5 out of 5', 'Construction4 out of..."

# **Export Datset for Further Use**

In [7]:
df.to_csv('gurgaon_properties.csv',index=False)