# **Objective**:
Your objective is to develop a robust analysis and recommendation system that assists potential buyers in making informed decisions when selecting properties. This involves preprocessing the dataset, performing exploratory analysis, and building a recommendation engine based on property features and buyer preferences.

# **Dataset Description**:
The dataset comprises the following columns:

* **property_name**: Name or title associated with the property listing.
* **property_type**: Type or category of the property (e.g., apartment, villa, penthouse).
* **society**: Name of the housing society or complex where the property is situated.
* **price**: Selling or listing price of the property.
* **price_per_sqft**: Price per square foot of the property.
* **area**: Estimated area of the property in square units.
* **areaWithType**: Combination of area and property type, providing size and type context.
* **bedRoom**: Number of bedrooms in the property.
* **bathroom**: Number of bathrooms in the property.
* **balcony**: Number of balconies attached to the property.
* **additionalRoom**: Count of extra rooms or spaces in the property.
* **address**: Location details of the property, including city and locality.
* **floorNum**: Floor number of the property within the building.
* **facing**: Direction the property is facing (e.g., north, south, east).
* **agePossession**: Age of the property or years since construction.
* **nearbyLocations**: Landmarks or neighborhoods near the property's location.
* **description**: Detailed description of property features and amenities.
* **furnishDetails**: Level of furnishing in the property (e.g., fully furnished, semi-furnished).
* **features**: Special amenities associated with the property (e.g., pool, security).
* **rating**: Rating or feedback score assigned to the property.

# **Data Preprocessing**:

* Handle missing values, correct data types, and remove duplicates.
* Calculate 'area' based on price and price per square foot.
* Encode categorical variables like property type and facing direction.
* and many more
and lastly Export Cleaned Data

![1685260194736.png]()

# **Import Basic Libraries**

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
pd.set_option('display.max_rows',None)
pd.set_option('display.max_columns',None)
# To modify the display options for DataFrames
# This sets the maximum number of rows and columns to be displayed to "None," which effectively means that pandas will display all rows and columns of a DataFrame when you print it

In [ ]:
df = pd.read_csv('flats.csv')

In [ ]:
# show random Rows
df.sample(5)

,property_name,link,society,price,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating,property_id
2256,3 BHK Flat in Sector 89 Gurgaon,https://www.99acres.com/3-bhk-bedroom-apartmen...,M3M Soulitude,1.42 Crore,"₹ 9,978/sq.ft.",Carpet area: 1423 (132.2 sq.m.),3 Bedrooms,3 Bathrooms,2 Balconies,NaN,"Sector 89 Gurgaon, Gurgaon, Haryana",3rd of 4 Floors,NaN,Within 6 months,"['Vatika Town Square-INXT', 'Sector 86 Road', ...","Park and club facing, third floor, close to xa...",NaN,"['Intercom Facility', 'Lift(s)', 'Park']","['Environment4 out of 5', 'Lifestyle4 out of 5...",F69673370
2985,3 BHK Flat in Sector 9A Gurgaon,https://www.99acres.com/3-bhk-bedroom-apartmen...,Jammu and Kashmir Bank Employees CGHS3.7 ★,95 Lac,"₹ 6,129/sq.ft.",Super Built up area 1550(144 sq.m.),3 Bedrooms,3 Bathrooms,2 Balconies,Others,"Sector 9A Gurgaon, Gurgaon, Haryana",5th of 5 Floors,West,5 to 10 Year Old,"['Chintapurni Mandir', 'State bank ATM', 'Shri...",We are the proud owners of this 3 bhk apartmen...,"['2 Wardrobe', '4 Fan', '3 Geyser', 'No AC', '...","['Lift(s)', 'Maintenance Staff', 'Park', 'Visi...","['Management4 out of 5', 'Green Area4 out of 5...",E45070641
1580,3 BHK Flat in Sector 85 Gurgaon,https://www.99acres.com/3-bhk-bedroom-apartmen...,SS The Leaf3.8 ★,1.84 Crore,"₹ 7,641/sq.ft.",Super Built up area 2408(223.71 sq.m.)Carpet a...,3 Bedrooms,4 Bathrooms,3 Balconies,Pooja Room,"Sector 85 Gurgaon, Gurgaon, Haryana",8th of 26 Floors,South-East,1 to 5 Year Old,"['Sapphire 83 Mall', 'Dwarka Expressway', 'Cen...","This 3 bhk flat is located in ss the leaf, whi...","['14 Light', '5 AC', 'No Bed', 'No Chimney', '...","['Centrally Air Conditioned', 'Water purifier'...","['Green Area4.5 out of 5', 'Construction4.5 ou...",E69389662
260,2 BHK Flat in Sector 90 Gurgaon,https://www.99acres.com/2-bhk-bedroom-apartmen...,MRG World Ultimus,50 Lac,"₹ 6,983/sq.ft.",Carpet area: 716 (66.52 sq.m.),2 Bedrooms,2 Bathrooms,2 Balconies,NaN,"Sector 90 Gurgaon, Gurgaon, Haryana",1st of 14 Floors,North-East,Mar-24,"['Huda Metro Station', 'Aanyaz Mall', 'Sector ...","Best location, beside property 200 bed running...",NaN,"['Lift(s)', 'Maintenance Staff', 'Water Storag...","['Environment4 out of 5', 'Safety5 out of 5', ...",K68195520
937,3 BHK Flat in Sector 104 Gurgaon,https://www.99acres.com/3-bhk-bedroom-apartmen...,ATS Triumph3.9 ★,1.83 Crore,"₹ 7,991/sq.ft.",Super Built up area 2290(212.75 sq.m.)Built Up...,3 Bedrooms,4 Bathrooms,3+ Balconies,Servant Room,"4102, Sector 104 Gurgaon, Gurgaon, Haryana",10th of 27 Floors,North,1 to 5 Year Old,"['IFFCO Chowk Metro Station', 'The Esplanade M...","Ats triumph in sector-104, gurgaon is a ready-...","['1 Wardrobe', '11 Light', '5 AC', '1 Modular ...","['Centrally Air Conditioned', 'Water purifier'...","['Green Area4 out of 5', 'Construction5 out of...",A66305504

In [ ]:
# shape
df.shape

(3008, 20)

In [ ]:
# info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3008 entries, 0 to 3007
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   property_name    3008 non-null   object
 1   link             3008 non-null   object
 2   society          3007 non-null   object
 3   price            3007 non-null   object
 4   area             2996 non-null   object
 5   areaWithType     3008 non-null   object
 6   bedRoom          3008 non-null   object
 7   bathroom         3008 non-null   object
 8   balcony          3008 non-null   object
 9   additionalRoom   1694 non-null   object
 10  address          3002 non-null   object
 11  floorNum         3006 non-null   object
 12  facing           2127 non-null   object
 13  agePossession    3007 non-null   object
 14  nearbyLocations  2913 non-null   object
 15  description      3008 non-null   object
 16  furnishDetails   2203 non-null   object
 17  features         2594 non-null   object
 18  rating           2676 non-null   object
 19  property_id      3008 non-null   object
dtypes: object(20)
memory usage: 470.1+ KB

In [ ]:
# Check for Duplicates
df.duplicated().sum()

0

* No Duplicated values In flats Dataset

In [ ]:
# Check for missing values
df.isnull().sum()

property_name         0
link                  0
society               1
price                 1
area                 12
areaWithType          0
bedRoom               0
bathroom              0
balcony               0
additionalRoom     1314
address               6
floorNum              2
facing              881
agePossession         1
nearbyLocations      95
description           0
furnishDetails      805
features            414
rating              332
property_id           0
dtype: int64

**Here we have to Drop Unneccessary Columns**

In [ ]:
# columns to drop -> property_link, property_id
df.drop(columns={'link','property_id'},inplace=True)

In [ ]:
df.head(2)

,property_name,society,price,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,2 BHK Flat in Krishna Colony,maa bhagwati residency,45 Lac,"₹ 5,000/sq.ft.",Carpet area: 900 (83.61 sq.m.),2 Bedrooms,2 Bathrooms,1 Balcony,NaN,"Krishna Colony, Gurgaon, Haryana",4th of 4 Floors,West,1 to 5 Year Old,"['Chintapurni Mandir', 'State bank ATM', 'Pear...",So with lift.Maa bhagwati residency is one of ...,"['3 Fan', '4 Light', '1 Wardrobe', 'No AC', 'N...","['Feng Shui / Vaastu Compliant', 'Security / F...","['Environment4 out of 5', 'Safety4 out of 5', ..."
1,2 BHK Flat in Ashok Vihar,Apna Enclave,50 Lac,"₹ 7,692/sq.ft.",Carpet area: 650 (60.39 sq.m.),2 Bedrooms,2 Bathrooms,1 Balcony,NaN,"46b, Ashok Vihar, Gurgaon, Haryana",1st of 3 Floors,West,10+ Year Old,"['Chintapurni Mandir', 'Sheetla Mata Mandir', ...","Property situated on main road, railway statio...","['3 Wardrobe', '4 Fan', '1 Exhaust Fan', '1 Ge...","['Security / Fire Alarm', 'Maintenance Staff',...","['Environment4 out of 5', 'Safety4 out of 5', ..."

In [ ]:
# rename columns
df.rename(columns={'area':'price_per_sqft'},inplace=True)
df.head(2)

,property_name,society,price,price_per_sqft,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,2 BHK Flat in Krishna Colony,maa bhagwati residency,45 Lac,"₹ 5,000/sq.ft.",Carpet area: 900 (83.61 sq.m.),2 Bedrooms,2 Bathrooms,1 Balcony,NaN,"Krishna Colony, Gurgaon, Haryana",4th of 4 Floors,West,1 to 5 Year Old,"['Chintapurni Mandir', 'State bank ATM', 'Pear...",So with lift.Maa bhagwati residency is one of ...,"['3 Fan', '4 Light', '1 Wardrobe', 'No AC', 'N...","['Feng Shui / Vaastu Compliant', 'Security / F...","['Environment4 out of 5', 'Safety4 out of 5', ..."
1,2 BHK Flat in Ashok Vihar,Apna Enclave,50 Lac,"₹ 7,692/sq.ft.",Carpet area: 650 (60.39 sq.m.),2 Bedrooms,2 Bathrooms,1 Balcony,NaN,"46b, Ashok Vihar, Gurgaon, Haryana",1st of 3 Floors,West,10+ Year Old,"['Chintapurni Mandir', 'Sheetla Mata Mandir', ...","Property situated on main road, railway statio...","['3 Wardrobe', '4 Fan', '1 Exhaust Fan', '1 Ge...","['Security / Fire Alarm', 'Maintenance Staff',...","['Environment4 out of 5', 'Safety4 out of 5', ..."

# **Society**

In [ ]:
df['society'].value_counts()

SS The Leaf3.8 ★                                     73
Tulip Violet4.3 ★                                    40
Shapoorji Pallonji Joyville Gurugram4.0 ★            39
Signature Global Park4.0 ★                           36
Shree Vardhman Victoria3.8 ★                         35
Tulip Violet4.2 ★                                    33
Emaar MGF Emerald Floors Premier3.8 ★                32
Smart World Gems                                     32
Smart World Orchard                                  32
Paras Dews                                           31
DLF The Ultima4.0 ★                                  31
DLF Regal Gardens3.9 ★                               30
Shree Vardhman Flora3.8 ★                            29
M3M Woodshire4.0 ★                                   29
La Vida by Tata Housing                              28
Signature Global Solera3.7 ★                         27
Godrej Nature Plus                                   27
BPTP Terra3.8 ★                                      25
Emaar Gurgaon Greens4.1 ★                            25
Vatika Gurgaon 213.7 ★                               24
Experion The Heartsong3.9 ★                          24
Eldeco Accolade3.8 ★                                 24
DLF New Town Heights 13.9 ★                          24
Bestech Park View Residency3.9 ★                     23
Tata Primanti4.1 ★                                   22
M3M Heights                                          22
Emaar Palm Gardens4.1 ★                              22
ATS Triumph3.9 ★                                     22
ROF Ananda                                           21
Sare Crescent Parc3.5 ★                              21
Experion Windchants3.8 ★                             20
Godrej 1014.0 ★                                      20
Antriksh Heights3.7 ★                                19
Sare Homes                                           19
ATS Tourmaline3.9 ★                                  18
Mapsko Mount Ville4.1 ★                              18
Ambience Creacions                                   18
Indiabulls Centrum Park3.7 ★                         18
CHD Avenue 713.6 ★                                   18
Sobha City                                           18
Supertech Araville                                   18
Conscient Heritage Max4.3 ★                          17
GLS Arawali Homes3.8 ★                               17
M3M Skywalk                                          17
M3M Golfestate4.4 ★                                  17
Godrej Summit3.7 ★                                   17
Bestech Park View Grand Spa4.3 ★                     16
M3M Merlin3.7 ★                                      16
HCBS Sports Ville3.6 ★                               16
Pareena Coban Residences                             16
Umang Monsoon Breeze                                 15
Godrej Oasis3.9 ★                                    15
Emaar MGF The Palm Drive4.1 ★                        15
Ansal Heights 86                                     15
Umang Winter Hills3.9 ★                              14
Ramsons Kshitij3.7 ★                                 14
DLF The Primus3.9 ★                                  14
Imperia The Esfera                                   14
Orchid Petals4.1 ★                                   14
Ireo Skyon4.0 ★                                      14
MVN Athens3.7 ★                                      14
Indiabulls Enigma                                    14
The Close North4.0 ★                                 14
Ireo Victory Valley4.1 ★                             14
Corona Optus3.9 ★                                    14
Vatika The Seven Lamps3.8 ★                          14
Ireo The Corridors                                   13
Puri Emerald Bay3.7 ★                                13
Bestech Park View Ananda4.2 ★                        13
Central Park Flower Valley                           13
TARC Maceo3.8 ★                                      11
Godrej Aria3.8 ★                                     11
DLF The Skycourt4.2 ★                                11
Alpha Corp GurgaonOne 844.0 ★                        11
SBTL Caladium                                        11
M3M Soulitude                                        11
Raheja Vedaanta3.6 ★                                 11
Adani M2K Oyster Grande3.9 ★                         11
Pyramid Urban Homes 2                                10
Signature Global Synera3.4 ★                         10
Godrej Air                                           10
Emaar MGF Palm Hills4.0 ★                            10
Capital Residences 360                               10
Breez Global Heights4.2 ★                            10
Puri Diplomatic Greens4.0 ★                          10
Breez Global Hill View                               10
Zara Aavaas                                          10
ATS Kocoon                                           10
DLF New Town Heights 24.0 ★                          10
Pivotal Devaan                                       10
Ramprastha The Edge Towers3.5 ★                      10
Vatika City4.1 ★                                      9
Microtek Greenburg3.8 ★                               9
Bestech Park View Sanskruti4.2 ★                      9
AIPL The Peaceful Homes3.9 ★                          9
ILD Greens4.1 ★                                       9
Pareena Mi Casa                                       9
Parsvnath Green Ville3.9 ★                            9
GLS Avenue 51                                         8
The Lions CGHS                                        8
Bestech Altura                                        8
Birla Navya                                           8
M3M Skycity                                           8
M3M Capital                                           8
Tulip Ivory3.5 ★                                      8
AVL 36 Gurgaon3.7 ★                                   8
Vatika Lifestyle Homes3.8 ★                           8
Emaar Digihomes                                       8
ss                                                    8
Orris Aster Court Premier                             8
Sare Green ParC Phase 3                               7
AIPL Zen Residences                                   7
Assotech Blith                                        7
Orris Carnation Residency3.7 ★                        7
Ireo The Grand Arch4.0 ★                              7
Signature Global Orchard Avenue3.6 ★                  7
Vipul Lavanya3.9 ★                                    7
Signature Andour Heights3.8 ★                         7
Ansal Housing Highland Park                           7
Trisara Our Homes 3                                   7
Sare Crescent Parc Royal Greens Phase 1               7
Mapsko Casa Bella3.8 ★                                7
Signature Global City                                 7
Emaar Imperial Gardens3.8 ★                           7
Ashiana Mulberry                                      6
DLF Regency Park 13.6 ★                               6
HSIIDC Sidco Aravali                                  6
Signature Global City 63A                             6
Supertech Hues                                        6
Shapoorji Pallonji Joyville Gurugram                  6
Mapsko Royale Ville3.7 ★                              6
Kiran Residency                                       6
Sidhartha NCR One Phase 14.2 ★                        6
Bestech Park View Spa Next4.0 ★                       6
Parsvnath Exotica3.7 ★                                6
Bestech Park View City4.1 ★                           6
Suncity Vatsal Valley                                 6
Signature Global Park 4                               6
Hero Homes                                            6
BPTP Astaire Gardens3.7 ★                             6
Signature The Roselia3.6 ★                            6
M3M Sierra 68                                         6
Pioneer Araya3.8 ★                                    6
Pyramid Urban                                         6
Apna Enclave                                          5
Signature Global the Millennia                        5
Essel Towers                                          5
Satya The Hermitage3.5 ★                              5
DLF Park Place4.1 ★                                   5
Pareena Laxmi Apartments3.6 ★                         5
Green Court3.7 ★                                      5
Krisumi Waterfall Residences                          5
ATS Marigold                                          5
Ireo Uptown4.1 ★                                      5
Signature Global City 81                              5
Emaar MGF Emerald Estate3.8 ★                         5
M3M The Marina4.0 ★                                   5
Silverglades The Melia                                5
Ashiana Anmol3.5 ★                                    5
DLF Regency Park 24.0 ★                               5
Conscient Elevate                                     5
Central Park Flower Valley Aqua Front Towers          5
Godrej Habitat                                        5
Signature Global Grand IVA3.9 ★                       5
Adani Brahma Samsara Vilasa                           5
Signature Global City 37D Ph 2                        5
Vatika Sovereign Park                                 5
Central Park Resorts4.4 ★                             5
Vatika City Homes3.9 ★                                5
Pioneer Park3.8 ★                                     5
Greenopolis                                           5
Signature Global City 92                              5
Unitech Vistas                                        4
Prime Habitat                                         4
Sare Petioles                                         4
Unitech Fresco3.8 ★                                   4
Tata Gurgaon Gateway3.8 ★                             4
Global Hill View                                      4
ILD Grand                                             4
Corona Gracieux                                       4
Raheja Navodaya3.6 ★                                  4
Railway Officers RPF Society                          4
Godrej Frontier3.7 ★                                  4
Orris Aster Court                                     4
Krrish Provence Estate                                4
Godrej Icon                                           4
Lotus Homz4.0 ★                                       4
DLF New Town Heights3.7 ★                             4
Emaar Palm Heights                                    4
DLF The Skycourt                                      4
Signature The Serenas                                 4
Ramprastha Primera                                    4
Ramprastha Skyz                                       4
SS The Coralwood3.4 ★                                 4
Tulip Monsella                                        4
HSIIDC Sidco Shivalik Apartments3.8 ★                 4
Ambience Lagoon3.9 ★                                  3
Pivotal Riddhi Siddhi                                 3
Shri Ram Apartments                                   3
DLF The Arbour                                        3
Tulip Petals3.6 ★                                     3
DLF Express Greens3.9 ★                               3
Dhoot Time Residency4.0 ★                             3
Sare Green Parc 2                                     3
Unitech Uniworld Gardens3.8 ★                         3
Unitech Sunbreeze                                     3
Siddhartha Apartment                                  3
Raheja Atharva3.6 ★                                   3
DLF Royalton Tower                                    3
Spaze Privy3.9 ★                                      3
Tulip Lemon3.9 ★                                      3
Shri Banke Bihari Society3.8 ★                        3
Conscient Habitat3.6 ★                                3
Satya Element One                                     3
Mahindra Aura4.2 ★                                    3
Shree Arihant Apartment                               3
Suncity Platinum Towers                               3
Spaze Privy AT43.9 ★                                  3
Apex Our Homes                                        3
Paras Quartier                                        3
Puri Diplomatic Greens3.9 ★                           3
Vatika Independent Floors3.8 ★                        3
Guru Gram Haryana CGHS4.1 ★                           3
The Roselia 2                                         3
Tulip Purple                                          3
ATS Kocoon4.2 ★                                       3
Kendriya Vihar4.1 ★                                   3
Valley View Estate                                    3
Whiteland Blissville                                  3
Sidhartha NCR Greens4.3 ★                             3
Signature Global Solera 2                             3
Sunischit Apartments                                  3
Spaze Privvy The Address3.9 ★                         3
Maxworth City Residences                              3
AFNHB Jalvayu Vihar3.7 ★                              3
Sukhshanti Apartment                                  3
Sare Green Parc                                       3
DLF The Grove                                         3
Sapphire Eighty Three                                 3
Pyramid Elite                                         3
Tulip White3.5 ★                                      3
Bestech Park View City 23.9 ★                         3
Brisk Lumbini Terrace Homes                           3
Chintels Paradiso3.9 ★                                3
Raheja Sampada                                        3
Sidhartha NCR One                                     3
Unitech The Residences3.7 ★                           3
Deepak Minda                                          3
Smriti Apartment                                      3
SS Almeria                                            3
Adani Aangan Arcade                                   3
Krrish Florence Estate                                3
Piedmont Taksila heights3.6 ★                         3
Vatika Xpressions                                     3
AIPL Club Residences                                  3
DLF Belvedere Towers3.8 ★                             3
Raheja Revanta                                        3
Essel Tower                                           3
DLF Carlton Estate4.0 ★                               3
Unitech Heritage City                                 3
Vipul Belmonte3.9 ★                                   2
Emaar MGF The Enclave                                 2
BPTP Mansions Park Prime                              2
Supertech Hilltown                                    2
Samaspurkunj                                          2
BPTP Amstoria3.8 ★                                    2
Suncity Avenue 1023.9 ★                               2
BPTP Freedom Park Life4.0 ★                           2
Mittal Surya Vihar                                    2
DLF The Belaire3.9 ★                                  2
Suposhaa Smartworld Orchard                           2
Residency Grand                                       2
Jammu and Kashmir Bank Employees CGHS3.7 ★            2
Paras Irene3.7 ★                                      2
Ardee City3.8 ★                                       2
Ramprastha City                                       2
M3M Ikonic                                            2
Puri The Aravallis                                    2
My Home                                               2
Bestech Park View Sanskruti4.1 ★                      2
Shapoorji Pallonji Joyville                           2
The Penthouses at the Hibiscus                        2
Ashiana Anmol                                         2
Oriental Valley CHS                                   2
Tulsiani Easy in Homes                                2
NBCC Heights3.9 ★                                     2
Aqua Front Towers                                     2
Supertech Hill Town                                   2
Sahara Grace                                          2
Housing Board Colony                                  2
Suncity Avenue 76                                     2
HCBS Sports Ville                                     2
Godrej Nature Plus Serenity                           2
Adani Aangan Galleria                                 2
Tulip Orange3.9 ★                                     2
Central Park 2 Bellevue                               2
Raheja Atlantis3.8 ★                                  2
SS Hibiscus                                           2
Ansal API Esencia3.7 ★                                2
AWHO Shanti Vihar4.0 ★                                2
Ganga Apartment                                       2
ROF Aalayas3.8 ★                                      2
M3M Sky Lofts                                         2
Signature Global The Millennia 3                      2
Orchid Island4.2 ★                                    2
Emaar MGF Palm Studios                                2
DLF The Icon3.7 ★                                     2
Vatika Emilia Floors3.7 ★                             2
Tulip Violet                                          2
Tulip Leaf                                            2
Viridian The Plaza 106                                2
Professors Enclave CGHS                               2
Breeze Global Heights                                 2
Today Callidora                                       2
Mahindra Luminare4.0 ★                                2
Vasant Appartments                                    2
M3M Urbana                                            2
Green Campus CHS                                      2
Elan The Presidential                                 2
Maruti Vihar                                          2
Milan CGHS 9                                          2
Ansal Heights3.2 ★                                    2
Surendra Avenue 69                                    2
Suncity Heights3.7 ★                                  2
Pioneer Urban Presidia                                2
Vipul World Floors                                    2
Lavanya Apartments                                    2
Ramprastha The Atrium3.4 ★                            2
Bestech Spa Signature                                 2
M3M Latitude                                          2
Ambience Caitriona                                    2
Unitech Uniworld Gardens 23.4 ★                       2
BPTP Pedestal                                         2
MRG World Ultimus                                     2
Bhagwati Sadan                                        2
Ansal API Celebrity Suites                            2
CGHS Airport Apartment                                2
Park Royal Apartment                                  2
Apartment                                             2
Sidhivinayak Apartments                               2
Landmark The Residency                                2
Mapsko Paradise3.9 ★                                  2
The Close South3.9 ★                                  2
Element One Service                                   2
DLF The Crest3.6 ★                                    2
Dlf City                                              2
om appartments                                        2
Silverglades Hightown Residences                      2
Palam Vihar Society                                   2
lagoon apartment                                      2
Vatika INXT Floors                                    2
Raheja Vanya                                          2
BSF CHS                                               1
Lord Krishna                                          1
CGHS Hewo Apartments3.7 ★                             1
Bestech Park View Ananda                              1
Krishna Apartment                                     1

In [ ]:
# Society
df['society'].value_counts().shape

(636,)

In [ ]:
import re
# The re module is used for working with regular expressions, which are powerful tools for pattern matching and manipulation of strings.

In [ ]:
df['society']=df['society'].apply(lambda name: re.sub(r'\d+(\.\d+)?\s?★', '', str(name)).strip()).str.lower()

In [ ]:
df['society'].value_counts().shape

(602,)

In [ ]:
df['society'].value_counts()

tulip violet                                     75
ss the leaf                                      74
shapoorji pallonji joyville gurugram             45
dlf new town heights                             38
signature global park                            36
shree vardhman victoria                          35
smart world gems                                 32
emaar mgf emerald floors premier                 32
smart world orchard                              32
paras dews                                       31
dlf the ultima                                   31
dlf regal gardens                                30
m3m woodshire                                    30
shree vardhman flora                             29
la vida by tata housing                          28
godrej nature plus                               27
signature global solera                          27
bptp terra                                       25
emaar gurgaon greens                             25
vatika gurgaon                                   24
experion the heartsong                           24
eldeco accolade                                  24
bestech park view residency                      23
m3m heights                                      22
emaar palm gardens                               22
ats triumph                                      22
tata primanti                                    22
godrej                                           21
rof ananda                                       21
sare crescent parc                               21
experion windchants                              20
antriksh heights                                 19
sare homes                                       19
ats tourmaline                                   18
chd avenue                                       18
m3m skywalk                                      18
mapsko mount ville                               18
ambience creacions                               18
sobha city                                       18
supertech araville                               18
hcbs sports ville                                18
indiabulls centrum park                          18
m3m golfestate                                   18
gls arawali homes                                17
conscient heritage max                           17
godrej summit                                    17
m3m merlin                                       16
pareena coban residences                         16
bestech park view grand spa                      16
dlf the skycourt                                 15
godrej oasis                                     15
ramsons kshitij                                  15
umang monsoon breeze                             15
ansal heights 86                                 15
emaar mgf the palm drive                         15
umang winter hills                               14
corona optus                                     14
orchid petals                                    14
indiabulls enigma                                14
dlf the primus                                   14
mvn athens                                       14
imperia the esfera                               14
ireo victory valley                              14
ireo skyon                                       14
bestech park view ananda                         14
vatika the seven lamps                           14
the close north                                  14
puri diplomatic greens                           13
central park flower valley                       13
ireo the corridors                               13
ats kocoon                                       13
puri emerald bay                                 13
adani m2k oyster grande                          11
godrej aria                                      11
raheja vedaanta                                  11
breez global heights                             11
bestech park view sanskruti                      11
alpha corp gurgaonone                            11
dlf regency park                                 11
sbtl caladium                                    11
m3m soulitude                                    11
tarc maceo                                       11
pyramid urban homes 2                            10
zara aavaas                                      10
emaar mgf palm hills                             10
ramprastha the edge towers                       10
pivotal devaan                                   10
godrej air                                       10
ild greens                                       10
breez global hill view                           10
capital residences 360                           10
signature global synera                          10
microtek greenburg                                9
pareena mi casa                                   9
parsvnath green ville                             9
aipl the peaceful homes                           9
bestech park view city                            9
vatika city                                       9
emaar digihomes                                   8
birla navya                                       8
avl 36 gurgaon                                    8
ss                                                8
tulip ivory                                       8
vatika lifestyle homes                            8
m3m capital                                       8
the lions cghs                                    8
gls avenue 51                                     8
orris aster court premier                         8
bestech altura                                    8
m3m skycity                                       8
signature global orchard avenue                   7
signature global city                             7
orris carnation residency                         7
sare crescent parc royal greens phase 1           7
aipl zen residences                               7
mapsko casa bella                                 7
sare green parc phase 3                           7
assotech blith                                    7
emaar imperial gardens                            7
ashiana anmol                                     7
ansal housing highland park                       7
ireo the grand arch                               7
sidhartha ncr one phase                           7
trisara our homes 3                               7
vipul lavanya                                     7
signature andour heights                          7
green court                                       6
supertech hues                                    6
signature global park 4                           6
signature global city 63a                         6
hsiidc sidco aravali                              6
signature the roselia                             6
bptp astaire gardens                              6
mapsko royale ville                               6
ashiana mulberry                                  6
pioneer araya                                     6
suncity vatsal valley                             6
bestech park view spa next                        6
parsvnath exotica                                 6
pyramid urban                                     6
m3m sierra 68                                     6
hero homes                                        6
kiran residency                                   6
silverglades the melia                            5
adani brahma samsara vilasa                       5
signature global city 37d ph 2                    5
godrej habitat                                    5
m3m the marina                                    5
signature global city 81                          5
central park flower valley aqua front towers      5
apna enclave                                      5
vatika city homes                                 5
unitech uniworld gardens                          5
vatika sovereign park                             5
krisumi waterfall residences                      5
unitech fresco                                    5
central park resorts                              5
satya the hermitage                               5
emaar mgf emerald estate                          5
signature global city 92                          5
signature global grand iva                        5
essel towers                                      5
dlf park place                                    5
pioneer park                                      5
ireo uptown                                       5
pareena laxmi apartments                          5
conscient elevate                                 5
greenopolis                                       5
ats marigold                                      5
signature global the millennia                    5
ss the coralwood                                  4
krrish provence estate                            4
lotus homz                                        4
raheja navodaya                                   4
afnhb jalvayu vihar                               4
signature the serenas                             4
dlf the arbour                                    4
corona gracieux                                   4
emaar palm heights                                4
essel tower                                       4
global hill view                                  4
orris aster court                                 4
godrej icon                                       4
sare petioles                                     4
kendriya vihar                                    4
prime habitat                                     4
tata gurgaon gateway                              4
hsiidc sidco shivalik apartments                  4
godrej frontier                                   4
ramprastha primera                                4
railway officers rpf society                      4
ramprastha skyz                                   4
tulip monsella                                    4
ild grand                                         4
unitech vistas                                    4
tulip petals                                      3
raheja atharva                                    3
sare green parc                                   3
bhagwati sadan                                    3
satya element one                                 3
adani aangan arcade                               3
valley view estate                                3
paras quartier                                    3
vatika xpressions                                 3
spaze privy                                       3
tulip lemon                                       3
sidhartha ncr one                                 3
ambience lagoon                                   3
unitech sunbreeze                                 3
raheja revanta                                    3
dlf express greens                                3
spaze privvy the address                          3
chintels paradiso                                 3
dlf royalton tower                                3
unitech the residences                            3
krrish florence estate                            3
deepak minda                                      3
tulip purple                                      3
maxworth city residences                          3
vatika independent floors                         3
signature global solera 2                         3
shri ram apartments                               3
piedmont taksila heights                          3
dhoot time residency                              3
whiteland blissville                              3
sidhartha ncr greens                              3
sunischit apartments                              3
dlf belvedere towers                              3
pyramid elite                                     3
dlf the grove                                     3
shri banke bihari society                         3
apex our homes                                    3
guru gram haryana cghs                            3
sapphire eighty three                             3
the roselia 2                                     3
pivotal riddhi siddhi                             3
mahindra aura                                     3
spaze privy at                                    3
aipl club residences                              3
brisk lumbini terrace homes                       3
suncity platinum towers                           3
shree arihant apartment                           3
ss almeria                                        3
smriti apartment                                  3
sare green parc 2                                 3
siddhartha apartment                              3
conscient habitat                                 3
tulip white                                       3
sukhshanti apartment                              3
unitech heritage city                             3
raheja sampada                                    3
dlf carlton estate                                3
rof aalayas                                       2
samaspurkunj                                      2
ambience caitriona                                2
m3m sky lofts                                     2
emaar mgf emerald floors                          2
signature global the millennia 3                  2
dlf the crest                                     2
aqua front towers                                 2
ss residency                                      2
professors enclave cghs                           2
residency grand                                   2
dlf the icon                                      2
my home                                           2
bptp mansions park prime                          2
orchid island                                     2
m3m ikonic                                        2
vipul belmonte                                    2
emaar mgf the enclave                             2
ganga apartment                                   2
bptp amstoria                                     2
suncity avenue                                    2
dlf the belaire                                   2
adani aangan galleria                             2
the penthouses at the hibiscus                    2
ss hibiscus                                       2
park royal apartment                              2
tulsiani easy in homes                            2
viridian the plaza 106                            2
ardee city                                        2
tulip leaf                                        2
vatika emilia floors                              2
green campus chs                                  2
oriental valley chs                               2
emaar mgf palm studios                            2
suposhaa smartworld orchard                       2
supertech hilltown                                2
paras irene                                       2
mittal surya vihar                                2
awho shanti vihar                                 2
surendra avenue 69                                2
mapsko paradise                                   2
element one service                               2
m3m urbana                                        2
m3m latitude                                      2
pioneer urban presidia                            2
jammu and kashmir bank employees cghs             2
sahara grace                                      2
elan the presidential                             2
ansal heights                                     2
bptp freedom park life                            2
apartment                                         2
lagoon apartment                                  2
vipul world floors                                2
the close south                                   2
milan cghs 9                                      2
breeze global heights                             2
raheja atlantis                                   2
housing board colony                              2
mahindra luminare                                 2
supertech hill town                               2
suncity heights                                   2
shapoorji pallonji joyville                       2
landmark the residency                            2
puri the aravallis                                2
vasant appartments                                2
maruti vihar                                      2
central park 2 bellevue                           2
dlf city                                          2
silverglades hightown residences                  2
nbcc heights                                      2
shree shyam residency                             2
sidhivinayak apartments                           2
bestech spa signature                             2
vatika inxt floors                                2
bptp pedestal                                     2
today callidora                                   2
palam vihar society                               2
raheja vanya                                      2
ramprastha city                                   2
om appartments                                    2
ramprastha the atrium                             2
lavanya apartments                                2
godrej nature plus serenity                       2
suncity avenue 76                                 2
cghs airport apartment                            2
ansal api esencia                                 2
ansal api celebrity suites                        2
shyam apartment                                   2
tulip orange                                      2
mrg world ultimus                                 2
tulip yellow                                      1
ashray apartment                                  1
surbhi apartment                                  1
ansal height 86                                   1
malibu towers                                     1
whiteland the aspen                               1
espire south                                      1
the castle society                                1
park view apartments                              1
ansal plaza                                       1
raheja vedas                                      1
dnha group housing society                        1
kibithu villas                                    1
supertech new soft launch                         1
511 sarahah tower                                 1
antriksh green                                    1
new colony, gurgaon                               1
bsf chs                                           1
dlf 3 apartment                                   1
cghs hewo apartments                              1
kamal residence                                   1
ansal sushant residency                           1
krishna appartment                                1
belgravia resort residences                       1
bptp park generations                             1
raheja the vedaanta floors                        1
g l s arawali homes                               1
emaar the palm drive                              1
adarsh nagar                                      1
nul                                               1
godrej aria , sector 79 , gurgaon                 1
earth copia                                       1
bhemerlei                                         1
city shri ram apartments 1                        1
nan                                               1
ansals highland park                              1
ild grand centra                                  1
sobha smriti apartments                           1
ashok vihar phase 2                               1
central park flower valley cerise floors          1
palam vihar extension west zone rwa               1
lord krishna                                      1

In [ ]:
df.head()

,property_name,society,price,price_per_sqft,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,2 BHK Flat in Krishna Colony,maa bhagwati residency,45 Lac,"₹ 5,000/sq.ft.",Carpet area: 900 (83.61 sq.m.),2 Bedrooms,2 Bathrooms,1 Balcony,NaN,"Krishna Colony, Gurgaon, Haryana",4th of 4 Floors,West,1 to 5 Year Old,"['Chintapurni Mandir', 'State bank ATM', 'Pear...",So with lift.Maa bhagwati residency is one of ...,"['3 Fan', '4 Light', '1 Wardrobe', 'No AC', 'N...","['Feng Shui / Vaastu Compliant', 'Security / F...","['Environment4 out of 5', 'Safety4 out of 5', ..."
1,2 BHK Flat in Ashok Vihar,apna enclave,50 Lac,"₹ 7,692/sq.ft.",Carpet area: 650 (60.39 sq.m.),2 Bedrooms,2 Bathrooms,1 Balcony,NaN,"46b, Ashok Vihar, Gurgaon, Haryana",1st of 3 Floors,West,10+ Year Old,"['Chintapurni Mandir', 'Sheetla Mata Mandir', ...","Property situated on main road, railway statio...","['3 Wardrobe', '4 Fan', '1 Exhaust Fan', '1 Ge...","['Security / Fire Alarm', 'Maintenance Staff',...","['Environment4 out of 5', 'Safety4 out of 5', ..."
2,2 BHK Flat in Sohna,tulsiani easy in homes,40 Lac,"₹ 6,722/sq.ft.",Carpet area: 595 (55.28 sq.m.),2 Bedrooms,2 Bathrooms,3 Balconies,NaN,"Sohna, Gurgaon, Haryana",12nd of 14 Floors,NaN,0 to 1 Year Old,"['Huda City Metro', 'Golf Course extn road', '...","This property is 15 km away from badshapur, gu...",NaN,"['Power Back-up', 'Feng Shui / Vaastu Complian...","['Environment4 out of 5', 'Safety4 out of 5', ..."
3,2 BHK Flat in Sector 61 Gurgaon,smart world orchard,1.47 Crore,"₹ 12,250/sq.ft.",Carpet area: 1200 (111.48 sq.m.),2 Bedrooms,2 Bathrooms,2 Balconies,Study Room,"Sector 61 Gurgaon, Gurgaon, Haryana",2nd of 4 Floors,NaN,Dec-23,"['Sector 55-56 Metro station', 'Bestech Centra...",Near to metro station of sector 56 and opposit...,NaN,"['Security / Fire Alarm', 'Private Garden / Te...",NaN
4,2 BHK Flat in Sector 92 Gurgaon,parkwood westend,70 Lac,"₹ 5,204/sq.ft.",Super Built up area 1345(124.95 sq.m.),2 Bedrooms,2 Bathrooms,3 Balconies,Study Room,"Sector 92 Gurgaon, Gurgaon, Haryana",5th of 8 Floors,NaN,Under Construction,"['Yadav Clinic', 'Bangali Clinic', 'Dr. J. S. ...",We are the proud owners of this 2 bhk alongwit...,[],NaN,"['Environment5 out of 5', 'Safety3 out of 5', ..."

# **Price**

In [ ]:
df['price'].value_counts()

1.25 Crore          79
1.1 Crore           61
1.4 Crore           60
1.5 Crore           59
1.2 Crore           59
90 Lac              58
1.3 Crore           57
95 Lac              53
2 Crore             51
1.75 Crore          47
1 Crore             46
1.6 Crore           43
1.35 Crore          41
1.55 Crore          40
1.9 Crore           40
75 Lac              38
1.65 Crore          38
1.8 Crore           37
1.7 Crore           37
80 Lac              36
2.2 Crore           34
50 Lac              33
1.15 Crore          33
1.45 Crore          31
85 Lac              31
1.05 Crore          30
2.5 Crore           29
60 Lac              29
40 Lac              29
2.1 Crore           26
45 Lac              26
65 Lac              25
35 Lac              23
2.35 Crore          23
1.85 Crore          23
3 Crore             22
70 Lac              21
55 Lac              20
2.25 Crore          20
3.5 Crore           19
2.4 Crore           18
2.3 Crore           18
30 Lac              17
2.65 Crore          16
2.6 Crore           15
1.38 Crore          15
2.45 Crore          14
3.4 Crore           14
2.15 Crore          14
1.32 Crore          13
3.25 Crore          13
78 Lac              13
92 Lac              13
82 Lac              13
38 Lac              13
2.7 Crore           13
1.95 Crore          12
1.42 Crore          12
5 Crore             12
42 Lac              12
2.8 Crore           12
88 Lac              11
32 Lac              11
25 Lac              11
1.08 Crore          11
Price on Request    11
28 Lac              10
1.28 Crore          10
87 Lac              10
26 Lac              10
1.78 Crore          10
1.12 Crore          10
2.55 Crore          10
1.68 Crore           9
3.45 Crore           9
36 Lac               9
22 Lac               9
2.05 Crore           9
4 Crore              9
1.72 Crore           9
99 Lac               9
2.85 Crore           9
27 Lac               8
1.76 Crore           8
98 Lac               8
1.18 Crore           8
1.26 Crore           8
1.54 Crore           8
4.25 Crore           8
2.75 Crore           8
3.2 Crore            8
6 Crore              8
48 Lac               8
6.5 Crore            8
20 Lac               8
56 Lac               8
86 Lac               8
1.36 Crore           7
1.27 Crore           7
97 Lac               7
3.7 Crore            7
1.19 Crore           7
3.3 Crore            7
72 Lac               7
2.9 Crore            7
1.29 Crore           7
46 Lac               7
39 Lac               7
1.02 Crore           7
1.99 Crore           7
79 Lac               7
1.59 Crore           6
43 Lac               6
1.49 Crore           6
1.01 Crore           6
2.95 Crore           6
3.9 Crore            6
96 Lac               6
3.65 Crore           6
5.5 Crore            6
1.07 Crore           6
1.98 Crore           6
21 Lac               6
54 Lac               6
1.39 Crore           6
3.35 Crore           6
1.13 Crore           6
71.5 Lac             6
37 Lac               6
4.1 Crore            6
1.34 Crore           6
3.05 Crore           6
1.14 Crore           6
1.16 Crore           6
1.51 Crore           6
1.24 Crore           5
1.33 Crore           5
1.17 Crore           5
2.22 Crore           5
6.75 Crore           5
1.91 Crore           5
1.82 Crore           5
2.78 Crore           5
1.69 Crore           5
1.44 Crore           5
49 Lac               5
3.75 Crore           5
1.92 Crore           5
1.43 Crore           5
66 Lac               5
2.29 Crore           5
1.79 Crore           5
93 Lac               5
1.62 Crore           5
1.83 Crore           5
1.93 Crore           5
4.5 Crore            5
64 Lac               5
2.12 Crore           5
29 Lac               5
24 Lac               5
1.47 Crore           5
68 Lac               5
1.64 Crore           4
2.09 Crore           4
1.37 Crore           4
5.25 Crore           4
3.6 Crore            4
4.3 Crore            4
5.6 Crore            4
1.22 Crore           4
58 Lac               4
4.85 Crore           4
62 Lac               4
1.23 Crore           4
1.77 Crore           4
41.5 Lac             4
1.52 Crore           4
28.5 Lac             4
1.73 Crore           4
33 Lac               4
7 Crore              4
1.31 Crore           4
36.5 Lac             4
1.48 Crore           4
5.9 Crore            4
3.95 Crore           4
6.15 Crore           4
73 Lac               4
1.58 Crore           4
1.71 Crore           4
89 Lac               4
67 Lac               4
31 Lac               4
1.66 Crore           4
74 Lac               4
3.1 Crore            4
2.24 Crore           3
83 Lac               3
72.5 Lac             3
47 Lac               3
2.36 Crore           3
1.21 Crore           3
1.04 Crore           3
4.75 Crore           3
2.03 Crore           3
3.8 Crore            3
64.5 Lac             3
91 Lac               3
5.8 Crore            3
4.8 Crore            3
1.67 Crore           3
2.51 Crore           3
3.49 Crore           3
2.01 Crore           3
2.08 Crore           3
51 Lac               3
52 Lac               3
84 Lac               3
69 Lac               3
1.57 Crore           3
1.41 Crore           3
3.15 Crore           3
2.79 Crore           3
3.85 Crore           3
2.28 Crore           3
34 Lac               3
1.63 Crore           3
94 Lac               3
1.09 Crore           3
4.2 Crore            3
1.88 Crore           3
2.33 Crore           3
2.23 Crore           2
1.46 Crore           2
77.5 Lac             2
53.5 Lac             2
4.49 Crore           2
2.58 Crore           2
6.2 Crore            2
8.5 Crore            2
2.14 Crore           2
27.1 Lac             2
53 Lac               2
2.52 Crore           2
8 Crore              2
2.41 Crore           2
2.57 Crore           2
56.2 Lac             2
3.55 Crore           2
1.87 Crore           2
3.32 Crore           2
3.21 Crore           2
4.6 Crore            2
4.26 Crore           2
2.13 Crore           2
2.02 Crore           2
5.2 Crore            2
14 Crore             2
2.87 Crore           2
2.99 Crore           2
2.26 Crore           2
1.56 Crore           2
5.7 Crore            2
52.56 Lac            2
87.5 Lac             2
71 Lac               2
3.29 Crore           2
59 Lac               2
2.91 Crore           2
31.5 Lac             2
41 Lac               2
98.5 Lac             2
2.17 Crore           2
25.5 Lac             2
4.55 Crore           2
7.5 Crore            2
27.75 Lac            2
4.45 Crore           2
4.7 Crore            2
2.04 Crore           2
11 Crore             2
88.5 Lac             2
54.8 Lac             1
63.4 Lac             1
82.5 Lac             1
3.78 Crore           1
2.06 Crore           1
2.07 Crore           1
3.98 Crore           1
7.4 Crore            1
4.02 Crore           1
2.64 Crore           1
44 Lac               1
37.1 Lac             1
97.5 Lac             1
2.38 Crore           1
2.49 Crore           1
97.04 Lac            1
98.88 Lac            1
2.32 Crore           1
4.21 Crore           1
4.16 Crore           1
15 Crore             1
4.52 Crore           1
89.77 Lac            1
73.53 Lac            1
26.5 Lac             1
26.9 Lac             1
1.84 Crore           1
8.44 Crore           1
68.85 Lac            1
39.5 Lac             1
13.2 Crore           1
2.92 Crore           1
61 Lac               1
64.45 Lac            1
2.69 Crore           1
3.99 Crore           1
2.96 Crore           1
57 Lac               1
95.5 Lac             1
37.5 Lac             1
96.07 Lac            1
94.5 Lac             1
29.8 Lac             1
19 Lac               1
88.4 Lac             1
6.02 Crore           1
32.5 Lac             1
7.9 Crore            1
70.85 Lac            1
3.23 Crore           1
40.3 Lac             1
3.72 Crore           1
94.99 Lac            1
1.86 Crore           1
2.54 Crore           1
9 Crore              1
7.52 Crore           1
85.75 Lac            1
87.99 Lac            1
86.99 Lac            1
9.95 Crore           1
9.2 Crore            1
86.92 Lac            1
49.5 Lac             1
16 Lac               1
2.44 Crore           1
2.86 Crore           1
1.97 Crore           1
1.53 Crore           1
7.8 Crore            1
4.4 Crore            1
1.74 Crore           1
2.72 Crore           1
5.31 Crore           1
3.19 Crore           1
4.63 Crore           1
2.98 Crore           1
66.99 Lac            1
4.78 Crore           1
6.16 Crore           1
5.3 Crore            1
2.21 Crore           1
2.63 Crore           1
89.5 Lac             1
2.48 Crore           1
99.5 Lac             1
3.83 Crore           1
95.75 Lac            1
3.46 Crore           1
5.4 Crore            1
55.6 Lac             1
4.95 Crore           1
54.99 Lac            1
2.82 Crore           1
7.15 Crore           1
6.25 Crore           1
29.99 Lac            1
23 Lac               1
31.75 Lac            1
3.87 Crore           1
29.5 Lac             1
3.67 Crore           1
8.25 Crore           1
2.37 Crore           1
4.67 Crore           1
3.39 Crore           1
3.63 Crore           1
2.34 Crore           1
3.79 Crore           1
5.49 Crore           1
6.3 Crore            1
11.25 Crore          1
98.1 Lac             1
55.5 Lac             1
9.3 Crore            1
2.77 Crore           1
2.11 Crore           1
6.1 Crore            1
5.75 Crore           1
10 Crore             1
24.5 Lac             1
17.5 Lac             1
20.5 Lac             1
47.5 Lac             1
42.5 Lac             1
1.11 Crore           1
2.61 Crore           1
65.5 Lac             1
53.2 Lac             1
90.5 Lac             1
52.5 Lac             1
2.62 Crore           1
4.86 Crore           1
5.15 Crore           1
1.06 Crore           1
26.1 Lac             1
81 Lac               1
8.35 Crore           1
6.44 Crore           1
7.56 Crore           1
4.79 Crore           1
2.97 Crore           1
94.25 Lac            1
80.5 Lac             1
93.75 Lac            1
85.5 Lac             1
68.5 Lac             1
79.9 Lac             1
71.2 Lac             1
27.5 Lac             1
23.5 Lac             1
35.5 Lac             1
4.94 Crore           1
10.75 Crore          1
9.14 Crore           1
62.5 Lac             1
Name: price, dtype: int64

In [ ]:
df[df['price'] == 'Price on Request']

,property_name,society,price,price_per_sqft,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
25,5 BHK Flat in Sector 1 Gurgaon,the new people apartments,Price on Request,NaN,Built Up area: 4500 (418.06 sq.m.),5 Bedrooms,1 Bathroom,No Balcony,NaN,"Sector 1, Sector 1 Gurgaon, Gurgaon, Haryana",Ground of 1 Floors,NaN,undefined,"['Pooja Clinic', 'Dr. Sahil Clinic', 'Prakash ...",Best in class property available at sector 1 l...,NaN,NaN,NaN
1644,4 BHK Flat in Sector 50 Gurgaon,ss hibiscus,Price on Request,NaN,Carpet area: 4800 (445.93 sq.m.),4 Bedrooms,4 Bathrooms,3 Balconies,Servant Room,"Sector 50 Gurgaon, Gurgaon, Haryana",7th of 18 Floors,East,5 to 10 Year Old,"['Baani Square', 'SS Plaza', 'Good Earth City ...",4bedroom 4800sq.Ft middle floor apartment avai...,"['4 Fan', '8 Light', 'No AC', 'No Bed', 'No Ch...","['Lift(s)', 'Water purifier', 'Swimming Pool',...","['Environment5 out of 5', 'Lifestyle5 out of 5..."
1972,1 BHK Flat in Sector 31 Gurgaon,raheja atlantis,Price on Request,NaN,Carpet area: 650 (60.39 sq.m.),1 Bedroom,1 Bathroom,1 Balcony,"Pooja Room,Study Room,Servant Room","Yes, Sector 31 Gurgaon, Gurgaon, Haryana",3rd of 15 Floors,East,0 to 1 Year Old,"['Huda Metro Station', 'Reliance Fresh, Indira...",It is my property and good condition and good ...,NaN,"['Feng Shui / Vaastu Compliant', 'Security / F...","['Green Area4 out of 5', 'Construction4 out of..."
2054,2 BHK Flat in Sector 79 Gurgaon,supertech araville,Price on Request,NaN,Built Up area: 1295 (120.31 sq.m.),2 Bedrooms,2 Bathrooms,No Balcony,NaN,"Sector 79, Sector 79 Gurgaon, Gurgaon, Haryana",15th of 15 Floors,NaN,undefined,NaN,"2 bath, unfurnished, 15th floor (Of 18), super...",NaN,NaN,"['Environment4 out of 5', 'Lifestyle3 out of 5..."
2357,2 BHK Flat in Sector 37D Gurgaon,the millennia 2,Price on Request,NaN,Carpet area: 552 (51.28 sq.m.),2 Bedrooms,1 Bathroom,1 Balcony,NaN,"Sector 37D Gurgaon, Gurgaon, Haryana",13rd of 13 Floors,NaN,undefined,"['Shri Balaji Hospital and Trauma Center', 'Sh...","1 bath, unfurnished, 13th floor (Of 13), at se...",NaN,NaN,"['Environment4 out of 5', 'Lifestyle4 out of 5..."
2522,2 BHK Flat in Sector 95A Gurgaon,the roselia 2,Price on Request,NaN,Carpet area: 593 (55.09 sq.m.),2 Bedrooms,2 Bathrooms,2 Balconies,NaN,"Sector 95a, Pataudi Road, Sector 95A Gurgaon, ...",14th of 14 Floors,NaN,undefined,NaN,Best in class property available at sector 95a...,NaN,NaN,"['Environment5 out of 5', 'Lifestyle4.5 out of..."
2549,3 BHK Flat in Sector-2 Sohna,supertech hilltown,Price on Request,NaN,Built Up area: 1720 (159.79 sq.m.),3 Bedrooms,3 Bathrooms,3 Balconies,NaN,"Sohna Sector 2,gurgaon, Sector-2 Sohna, Gurgao...",4th of 4 Floors,North-East,undefined,NaN,"3 bath, unfurnished, 4th floor (Of 4), overloo...",NaN,NaN,NaN
2640,2 BHK Flat in Sector 95A Gurgaon,the roselia 2,Price on Request,NaN,Carpet area: 593 (55.09 sq.m.),2 Bedrooms,2 Bathrooms,2 Balconies,NaN,"Sector 95a, Pataudi Road, Sector 95A Gurgaon, ...",14th of 14 Floors,NaN,undefined,NaN,Best in class property available at sector 95a...,NaN,NaN,"['Environment5 out of 5', 'Safety5 out of 5', ..."
2950,3 BHK Flat in Sector 104 Gurgaon,godrej summit,Price on Request,NaN,Super Built up area 1647(153.01 sq.m.)Carpet a...,3 Bedrooms,3 Bathrooms,3 Balconies,NaN,"1402, Sector 104 Gurgaon, Gurgaon, Haryana",14th of 17 Floors,NaN,1 to 5 Year Old,"['MG Road Metro Station', 'The Esplanade Mall'...",We are the proud owners of this 3 bhk apartmen...,[],"['Intercom Facility', 'Lift(s)', 'Maintenance ...","['Management3 out of 5', 'Green Area4.5 out of..."
2963,4 BHK Flat in Gwal Pahari,krrish provence estate,Price on Request,NaN,Built Up area: 5800 (538.84 sq.m.),4 Bedrooms,5 Bathrooms,1 Balcony,NaN,"Gwal Pahari, Gurgaon, Haryana",17th of 24 Floors,NaN,Under Construction,"['Tniy Toons School', 'Pathways School Gurgoan...",Residential apartment for sell.Located on 17th...,NaN,NaN,NaN
2964,4 BHK Flat in Sector 95 Gurgaon,sidhartha ncr one phase,Price on Request,NaN,Super Built up area 2354(218.69 sq.m.),4 Bedrooms,4 Bathrooms,3+ Balconies,NaN,"Sector 95 Gurgaon, Gurgaon, Haryana",Ground of 3 Floors,North,Under Construction,"['Yadav Clinic', 'Bangali Clinic', 'Dr. J. S. ...","North facing entry, Very good layout, Excellen...",[],"['Power Back-up', 'Feng Shui / Vaastu Complian...","['Management4 out of 5', 'Green Area4 out of 5..."

In [ ]:
df = df[df['price'] != 'Price on Request']

In [ ]:
df.sample(5)

,property_name,society,price,price_per_sqft,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
212,2 BHK Flat in Sector 99A Gurgaon,raheja vanya,59 Lac,"₹ 3,975/sq.ft.",Super Built up area 1252.13(116.33 sq.m.),2 Bedrooms,2 Bathrooms,3 Balconies,Others,"Flat No. C-014, 1st Floor, Sector 99A Gurgaon,...",1st of 19 Floors,East,Dec-23,"['The Esplanade Mall', 'Dwarka Expy', 'Suncity...",Beautiful 2 bhk apartment available on dwarka ...,"['3 Fan', '1 Exhaust Fan', '1 Modular Kitchen'...","['Security / Fire Alarm', 'Feng Shui / Vaastu ...","['Environment4 out of 5', 'Safety3 out of 5', ..."
2631,3 BHK Flat in Sector 70 Gurgaon,shree vardhman victoria,1.9 Crore,"₹ 9,743/sq.ft.",Super Built up area 1950(181.16 sq.m.),3 Bedrooms,3 Bathrooms,3 Balconies,"Servant Room,Others,Store Room,Pooja Room","1001 Tower F, 10th Floor, Sector 70 Gurgaon, G...",10th of 13 Floors,North-East,0 to 1 Year Old,"['Airia Mall', 'Golf Course Extn Road', 'Sohna...",The property is located in sector-70 gurgaon. ...,NaN,"['Feng Shui / Vaastu Compliant', 'Intercom Fac...","['Green Area5 out of 5', 'Amenities4.5 out of ..."
1090,3 BHK Flat in Sector 82 Gurgaon,vatika the seven lamps,1.37 Crore,"₹ 8,753/sq.ft.",Super Built up area 2160(200.67 sq.m.)Built Up...,3 Bedrooms,3 Bathrooms,3 Balconies,"Study Room,Servant Room,Pooja Room","1101, Sector 82 Gurgaon, Gurgaon, Haryana",11st of 16 Floors,South,1 to 5 Year Old,"['SS Omnia Mall', 'Golf Course Ext Rd', 'Knowl...",This lovely 3 bhk apartment/flat in sector 82 ...,"['3 Wardrobe', '5 Fan', '1 Exhaust Fan', '3 Ge...","['Security / Fire Alarm', 'Feng Shui / Vaastu ...","['Green Area5 out of 5', 'Construction5 out of..."
1953,3 BHK Flat in Sector 89 Gurgaon,m3m soulitude,1.3 Crore,"₹ 8,700/sq.ft.",Super Built up area 1500(139.35 sq.m.)Carpet a...,3 Bedrooms,3 Bathrooms,2 Balconies,Others,"Sector 89 Gurgaon, Gurgaon, Haryana",1st of 4 Floors,NaN,Within 6 months,"['Vatika Town Square-INXT', 'Sector 86 Road', ...",Its a building located away from the bundle of...,NaN,"['Power Back-up', 'Intercom Facility', 'Lift(s...","['Environment4 out of 5', 'Lifestyle4 out of 5..."
2890,3 BHK Flat in Sector 92 Gurgaon,raheja navodaya,85 Lac,"₹ 5,407/sq.ft.",Super Built up area 1572(146.04 sq.m.),3 Bedrooms,3 Bathrooms,No Balcony,NaN,"No-31008, Sector 92 Gurgaon, Gurgaon, Haryana",Ground of 16 Floors,East,1 to 5 Year Old,"['NH8', 'Dwarka Expressway', 'IMT Manesar', 'Y...",Residential apartment for sell.The property ha...,"['2 Wardrobe', '2 Fan', '2 Light', 'No AC', 'N...","['Security / Fire Alarm', 'Feng Shui / Vaastu ...","['Management4 out of 5', 'Green Area5 out of 5..."

In [ ]:
def treat_price(x):
    if type(x) == float:
        return x
    else:
        if x[1] == 'Lac':
            return round(float(x[0])/100,2)
        else:
            return round(float(x[0]),2)

# It convert price value in equal unit(Crore)

In [ ]:
df['price'] = df['price'].str.split(' ').apply(treat_price)

<ipython-input-24-45c08249b2fd>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price'] = df['price'].str.split(' ').apply(treat_price)

In [ ]:
df.head()

,property_name,society,price,price_per_sqft,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,2 BHK Flat in Krishna Colony,maa bhagwati residency,0.45,"₹ 5,000/sq.ft.",Carpet area: 900 (83.61 sq.m.),2 Bedrooms,2 Bathrooms,1 Balcony,NaN,"Krishna Colony, Gurgaon, Haryana",4th of 4 Floors,West,1 to 5 Year Old,"['Chintapurni Mandir', 'State bank ATM', 'Pear...",So with lift.Maa bhagwati residency is one of ...,"['3 Fan', '4 Light', '1 Wardrobe', 'No AC', 'N...","['Feng Shui / Vaastu Compliant', 'Security / F...","['Environment4 out of 5', 'Safety4 out of 5', ..."
1,2 BHK Flat in Ashok Vihar,apna enclave,0.50,"₹ 7,692/sq.ft.",Carpet area: 650 (60.39 sq.m.),2 Bedrooms,2 Bathrooms,1 Balcony,NaN,"46b, Ashok Vihar, Gurgaon, Haryana",1st of 3 Floors,West,10+ Year Old,"['Chintapurni Mandir', 'Sheetla Mata Mandir', ...","Property situated on main road, railway statio...","['3 Wardrobe', '4 Fan', '1 Exhaust Fan', '1 Ge...","['Security / Fire Alarm', 'Maintenance Staff',...","['Environment4 out of 5', 'Safety4 out of 5', ..."
2,2 BHK Flat in Sohna,tulsiani easy in homes,0.40,"₹ 6,722/sq.ft.",Carpet area: 595 (55.28 sq.m.),2 Bedrooms,2 Bathrooms,3 Balconies,NaN,"Sohna, Gurgaon, Haryana",12nd of 14 Floors,NaN,0 to 1 Year Old,"['Huda City Metro', 'Golf Course extn road', '...","This property is 15 km away from badshapur, gu...",NaN,"['Power Back-up', 'Feng Shui / Vaastu Complian...","['Environment4 out of 5', 'Safety4 out of 5', ..."
3,2 BHK Flat in Sector 61 Gurgaon,smart world orchard,1.47,"₹ 12,250/sq.ft.",Carpet area: 1200 (111.48 sq.m.),2 Bedrooms,2 Bathrooms,2 Balconies,Study Room,"Sector 61 Gurgaon, Gurgaon, Haryana",2nd of 4 Floors,NaN,Dec-23,"['Sector 55-56 Metro station', 'Bestech Centra...",Near to metro station of sector 56 and opposit...,NaN,"['Security / Fire Alarm', 'Private Garden / Te...",NaN
4,2 BHK Flat in Sector 92 Gurgaon,parkwood westend,0.70,"₹ 5,204/sq.ft.",Super Built up area 1345(124.95 sq.m.),2 Bedrooms,2 Bathrooms,3 Balconies,Study Room,"Sector 92 Gurgaon, Gurgaon, Haryana",5th of 8 Floors,NaN,Under Construction,"['Yadav Clinic', 'Bangali Clinic', 'Dr. J. S. ...",We are the proud owners of this 2 bhk alongwit...,[],NaN,"['Environment5 out of 5', 'Safety3 out of 5', ..."

# **price_per_sqft**

In [ ]:
df['price_per_sqft'].value_counts

<bound method IndexOpsMixin.value_counts of 0         ₹ 5,000/sq.ft.
1         ₹ 7,692/sq.ft.
2         ₹ 6,722/sq.ft.
3        ₹ 12,250/sq.ft.
4         ₹ 5,204/sq.ft.
5         ₹ 6,269/sq.ft.
6        ₹ 13,333/sq.ft.
7         ₹ 7,860/sq.ft.
8         ₹ 8,148/sq.ft.
9        ₹ 16,885/sq.ft.
10        ₹ 9,767/sq.ft.
11        ₹ 5,587/sq.ft.
12        ₹ 6,940/sq.ft.
13        ₹ 6,859/sq.ft.
14        ₹ 5,384/sq.ft.
15       ₹ 16,859/sq.ft.
16       ₹ 14,084/sq.ft.
17       ₹ 11,475/sq.ft.
18                   NaN
19       ₹ 10,476/sq.ft.
20        ₹ 9,156/sq.ft.
21        ₹ 8,604/sq.ft.
22        ₹ 7,796/sq.ft.
23        ₹ 9,135/sq.ft.
24       ₹ 12,855/sq.ft.
26        ₹ 7,910/sq.ft.
27       ₹ 18,331/sq.ft.
28       ₹ 24,300/sq.ft.
29        ₹ 5,600/sq.ft.
30       ₹ 12,784/sq.ft.
31       ₹ 26,936/sq.ft.
32       ₹ 10,156/sq.ft.
33        ₹ 7,194/sq.ft.
34        ₹ 6,538/sq.ft.
35        ₹ 5,769/sq.ft.
36        ₹ 6,950/sq.ft.
37        ₹ 8,866/sq.ft.
38        ₹ 5,403/sq.ft.
39        ₹ 5,714/sq.ft.
40       ₹ 15,151/sq.ft.
41        ₹ 6,200/sq.ft.
42       ₹ 16,000/sq.ft.
43        ₹ 6,378/sq.ft.
44        ₹ 3,571/sq.ft.
45        ₹ 7,846/sq.ft.
46        ₹ 7,297/sq.ft.
47        ₹ 7,581/sq.ft.
48       ₹ 10,005/sq.ft.
49       ₹ 10,714/sq.ft.
50       ₹ 16,969/sq.ft.
51       ₹ 14,545/sq.ft.
52        ₹ 5,424/sq.ft.
53        ₹ 7,410/sq.ft.
54        ₹ 6,400/sq.ft.
55        ₹ 4,715/sq.ft.
56        ₹ 5,000/sq.ft.
57        ₹ 6,666/sq.ft.
58        ₹ 9,872/sq.ft.
59        ₹ 6,594/sq.ft.
60        ₹ 5,555/sq.ft.
61        ₹ 7,000/sq.ft.
62        ₹ 5,007/sq.ft.
63        ₹ 7,857/sq.ft.
64        ₹ 6,376/sq.ft.
65        ₹ 8,863/sq.ft.
66        ₹ 4,320/sq.ft.
67       ₹ 11,111/sq.ft.
68       ₹ 10,410/sq.ft.
69        ₹ 5,178/sq.ft.
70        ₹ 5,556/sq.ft.
71        ₹ 4,744/sq.ft.
72        ₹ 9,406/sq.ft.
73        ₹ 5,521/sq.ft.
74        ₹ 6,404/sq.ft.
75        ₹ 8,432/sq.ft.
76        ₹ 4,687/sq.ft.
77        ₹ 6,812/sq.ft.
78       ₹ 12,505/sq.ft.
79        ₹ 5,128/sq.ft.
80       ₹ 11,153/sq.ft.
81        ₹ 8,784/sq.ft.
82           ₹ 79/sq.ft.
83       ₹ 10,599/sq.ft.
84        ₹ 6,500/sq.ft.
85        ₹ 3,768/sq.ft.
86       ₹ 17,200/sq.ft.
87        ₹ 6,338/sq.ft.
88        ₹ 6,615/sq.ft.
89        ₹ 3,166/sq.ft.
90        ₹ 9,838/sq.ft.
91       ₹ 13,957/sq.ft.
92        ₹ 8,035/sq.ft.
93        ₹ 8,036/sq.ft.
94        ₹ 8,768/sq.ft.
95        ₹ 8,611/sq.ft.
96        ₹ 6,600/sq.ft.
97       ₹ 11,738/sq.ft.
98       ₹ 14,492/sq.ft.
99       ₹ 12,800/sq.ft.
100       ₹ 7,800/sq.ft.
101      ₹ 15,590/sq.ft.
102       ₹ 5,641/sq.ft.
103      ₹ 13,750/sq.ft.
104       ₹ 7,407/sq.ft.
105      ₹ 10,500/sq.ft.
106       ₹ 9,849/sq.ft.
107      ₹ 11,482/sq.ft.
108       ₹ 4,500/sq.ft.
109      ₹ 17,617/sq.ft.
110       ₹ 6,106/sq.ft.
111       ₹ 7,739/sq.ft.
112      ₹ 10,018/sq.ft.
113      ₹ 16,030/sq.ft.
114           ₹ 7/sq.ft.
115       ₹ 5,600/sq.ft.
116       ₹ 9,955/sq.ft.
117       ₹ 9,027/sq.ft.
118      ₹ 10,589/sq.ft.
119       ₹ 6,443/sq.ft.
120       ₹ 7,407/sq.ft.
121       ₹ 6,420/sq.ft.
122       ₹ 5,405/sq.ft.
123       ₹ 8,784/sq.ft.
124      ₹ 12,744/sq.ft.
125       ₹ 9,285/sq.ft.
126       ₹ 8,000/sq.ft.
127      ₹ 11,755/sq.ft.
128      ₹ 11,755/sq.ft.
129       ₹ 7,149/sq.ft.
130       ₹ 9,146/sq.ft.
131      ₹ 13,115/sq.ft.
132       ₹ 7,396/sq.ft.
133       ₹ 5,397/sq.ft.
134       ₹ 7,909/sq.ft.
135      ₹ 12,920/sq.ft.
136       ₹ 4,615/sq.ft.
137       ₹ 7,106/sq.ft.
138       ₹ 7,692/sq.ft.
139       ₹ 5,883/sq.ft.
140       ₹ 6,806/sq.ft.
141       ₹ 9,502/sq.ft.
142       ₹ 6,200/sq.ft.
143       ₹ 6,700/sq.ft.
144       ₹ 5,750/sq.ft.
145      ₹ 12,526/sq.ft.
146      ₹ 12,244/sq.ft.
147       ₹ 7,424/sq.ft.
148      ₹ 10,361/sq.ft.
149       ₹ 6,470/sq.ft.
150      ₹ 13,600/sq.ft.
151       ₹ 5,308/sq.ft.
152       ₹ 5,556/sq.ft.
153       ₹ 4,500/sq.ft.
154       ₹ 4,666/sq.ft.
155      ₹ 14,444/sq.ft.
156       ₹ 7,188/sq.ft.
157      ₹ 10,828/sq.ft.
158       ₹ 6,111/sq.ft.
159       ₹ 9,615/sq.ft.
160      ₹ 15,000/sq.ft.
161      ₹ 15,664/sq.ft.
162      ₹ 13,496/sq.ft.
163       ₹ 9,463/sq.ft.
164       ₹ 7,782/sq.ft.
165       ₹ 7,780/sq.ft.
166       ₹ 8,043/sq.ft.
167       ₹ 6,578/sq.ft.
168       ₹ 7,963/sq.ft.
169       ₹ 6,593/sq.ft.
170      ₹ 12,185/sq.ft.
171       ₹ 6,789/sq.ft.
172       ₹ 7,500/sq.ft.
173       ₹ 7,444/sq.ft.
174       ₹ 8,108/sq.ft.
175       ₹ 6,345/sq.ft.
176       ₹ 6,967/sq.ft.
177       ₹ 6,250/sq.ft.
178       ₹ 7,627/sq.ft.
179       ₹ 6,703/sq.ft.
180       ₹ 6,506/sq.ft.
181       ₹ 6,150/sq.ft.
182       ₹ 8,928/sq.ft.
183      ₹ 12,106/sq.ft.
184      ₹ 13,074/sq.ft.
185       ₹ 8,081/sq.ft.
186      ₹ 13,136/sq.ft.
187      ₹ 10,139/sq.ft.
188       ₹ 4,731/sq.ft.
189       ₹ 5,142/sq.ft.
190       ₹ 4,258/sq.ft.
191       ₹ 7,496/sq.ft.
192      ₹ 17,441/sq.ft.
193      ₹ 12,619/sq.ft.
194       ₹ 4,546/sq.ft.
195      ₹ 10,000/sq.ft.
196       ₹ 9,904/sq.ft.
197      ₹ 15,003/sq.ft.
198       ₹ 3,970/sq.ft.
199       ₹ 5,067/sq.ft.
200      ₹ 12,500/sq.ft.
201       ₹ 4,105/sq.ft.
202       ₹ 6,667/sq.ft.
203       ₹ 8,504/sq.ft.
204      ₹ 14,118/sq.ft.
205       ₹ 8,450/sq.ft.
206       ₹ 2,700/sq.ft.
207       ₹ 8,886/sq.ft.
208      ₹ 18,492/sq.ft.
209       ₹ 7,643/sq.ft.
210       ₹ 9,166/sq.ft.
211      ₹ 16,923/sq.ft.
212       ₹ 3,975/sq.ft.
213       ₹ 4,705/sq.ft.
214       ₹ 6,225/sq.ft.
215      ₹ 10,000/sq.ft.
216       ₹ 6,542/sq.ft.
217      ₹ 18,000/sq.ft.
218      ₹ 17,990/sq.ft.
219       ₹ 7,500/sq.ft.
220      ₹ 17,997/sq.ft.
221      ₹ 18,477/sq.ft.
222      ₹ 14,168/sq.ft.
223      ₹ 11,724/sq.ft.
224       ₹ 7,272/sq.ft.
225       ₹ 7,036/sq.ft.
226       ₹ 4,105/sq.ft.
227       ₹ 6,790/sq.ft.
228       ₹ 5,420/sq.ft.
229       ₹ 6,024/sq.ft.
230       ₹ 5,882/sq.ft.
231      ₹ 11,716/sq.ft.
232      ₹ 12,181/sq.ft.
233      ₹ 12,250/sq.ft.
234       ₹ 7,455/sq.ft.
235      ₹ 13,500/sq.ft.
236       ₹ 9,909/sq.ft.
237       ₹ 9,876/sq.ft.
238       ₹ 5,000/sq.ft.
239       ₹ 4,820/sq.ft.
240       ₹ 7,032/sq.ft.
241       ₹ 5,548/sq.ft.
242       ₹ 5,888/sq.ft.
243       ₹ 7,585/sq.ft.
244       ₹ 6,734/sq.ft.
245       ₹ 9,024/sq.ft.
246       ₹ 8,000/sq.ft.
247       ₹ 9,166/sq.ft.
248      ₹ 15,980/sq.ft.
249      ₹ 10,601/sq.ft.
250      ₹ 28,000/sq.ft.
251       ₹ 4,444/sq.ft.
252      ₹ 14,335/sq.ft.
253      ₹ 15,793/sq.ft.
254      ₹ 12,500/sq.ft.
255      ₹ 26,562/sq.ft.
256       ₹ 5,000/sq.ft.
257       ₹ 6,300/sq.ft.
258       ₹ 7,777/sq.ft.
259      ₹ 14,100/sq.ft.
260       ₹ 6,983/sq.ft.
261       ₹ 5,892/sq.ft.
262      ₹ 10,158/sq.ft.
263      ₹ 13,750/sq.ft.
264       ₹ 3,648/sq.ft.
265       ₹ 7,772/sq.ft.
266       ₹ 6,739/sq.ft.
267       ₹ 5,556/sq.ft.
268       ₹ 6,325/sq.ft.
269       ₹ 6,061/sq.ft.
270       ₹ 6,429/sq.ft.
271       ₹ 6,862/sq.ft.
272       ₹ 6,377/sq.ft.
273      ₹ 10,531/sq.ft.
274       ₹ 5,038/sq.ft.
275      ₹ 13,969/sq.ft.
276       ₹ 4,800/sq.ft.
277       ₹ 5,797/sq.ft.
278      ₹ 12,000/sq.ft.
279       ₹ 9,286/sq.ft.
280       ₹ 6,510/sq.ft.
281       ₹ 5,384/sq.ft.
282      ₹ 41,245/sq.ft.
283      ₹ 10,945/sq.ft.
284       ₹ 9,851/sq.ft.
285       ₹ 8,075/sq.ft.
286      ₹ 13,269/sq.ft.
287       ₹ 7,727/sq.ft.
288      ₹ 15,998/sq.ft.
289       ₹ 7,865/sq.ft.
290       ₹ 7,400/sq.ft.
291       ₹ 7,510/sq.ft.
292       ₹ 8,514/sq.ft.
293       ₹ 4,599/sq.ft.
294      ₹ 13,000/sq.ft.
295      ₹ 14,257/sq.ft.
296       ₹ 9,333/sq.ft.
297      ₹ 14,214/sq.ft.
298      ₹ 14,110/sq.ft.
299       ₹ 7,248/sq.ft.
300       ₹ 6,921/sq.ft.
301      ₹ 10,603/sq.ft.
302       ₹ 8,620/sq.ft.
303       ₹ 9,090/sq.ft.
304       ₹ 7,391/sq.ft.
305       ₹ 4,666/sq.ft.
306      ₹ 16,960/sq.ft.
307      ₹ 33,209/sq.ft.
308      ₹ 11,516/sq.ft.
309      ₹ 14,202/sq.ft.
310       ₹ 8,181/sq.ft.
311      ₹ 10,500/sq.ft.
312       ₹ 6,666/sq.ft.
313      ₹ 11,500/sq.ft.
314       ₹ 9,900/sq.ft.
315      ₹ 17,619/sq.ft.
316      ₹ 17,000/sq.ft.
317       ₹ 8,206/sq.ft.
318      ₹ 15,240/sq.ft.
319       ₹ 7,727/sq.ft.
320      ₹ 15,998/sq.ft.
321       ₹ 7,865/sq.ft.
322       ₹ 7,400/sq.ft.
323      ₹ 13,000/sq.ft.
324      ₹ 14,257/sq.ft.
325      ₹ 14,214/sq.ft.
326       ₹ 7,248/sq.ft.
327       ₹ 6,921/sq.ft.
328      ₹ 10,603/sq.ft.
329       ₹ 8,620/sq.ft.
330       ₹ 9,090/sq.ft.
331       ₹ 7,391/sq.ft.
332       ₹ 4,666/sq.ft.
333      ₹ 16,960/sq.ft.
334      ₹ 11,516/sq.ft.
335       ₹ 8,181/sq.ft.
336       ₹ 6,666/sq.ft.
337       ₹ 9,900/sq.ft.
338      ₹ 17,619/sq.ft.
339       ₹ 8,206/sq.ft.
340      ₹ 19,363/sq.ft.
341       ₹ 5,832/sq.ft.
342       ₹ 9,777/sq.ft.
343       ₹ 6,542/sq.ft.
344       ₹ 8,160/sq.ft.
345       ₹ 9,334/sq.ft.
346       ₹ 9,473/sq.ft.
347       ₹ 6,597/sq.ft.
348       ₹ 5,897/sq.ft.
349      ₹ 18,181/sq.ft.
350       ₹ 4,271/sq.ft.
351       ₹ 7,725/sq.ft.
352      ₹ 10,895/sq.ft.
353      ₹ 11,845/sq.ft.
354      ₹ 23,401/sq.ft.
355       ₹ 9,182/sq.ft.
356      ₹ 12,782/sq.ft.
357      ₹ 15,681/sq.ft.
358       ₹ 7,539/sq.ft.
359       ₹ 8,072/sq.ft.
360      ₹ 14,376/sq.ft.
361       ₹ 9,221/sq.ft.
362       ₹ 8,606/sq.ft.
363      ₹ 10,000/sq.ft.
364      ₹ 14,516/sq.ft.
365      ₹ 14,583/sq.ft.
366      ₹ 19,200/sq.ft.
367       ₹ 8,047/sq.ft.
368       ₹ 4,888/sq.ft.
369      ₹ 10,007/sq.ft.
370      ₹ 13,765/sq.ft.
371      ₹ 14,478/sq.ft.
372       ₹ 4,651/sq.ft.
373       ₹ 9,740/sq.ft.
374       ₹ 9,552/sq.ft.
375      ₹ 14,800/sq.ft.
376      ₹ 18,571/sq.ft.
377      ₹ 14,500/sq.ft.
378       ₹ 8,604/sq.ft.
379       ₹ 8,521/sq.ft.
380       ₹ 6,509/sq.ft.
381      ₹ 11,028/sq.ft.
382       ₹ 6,134/sq.ft.
383      ₹ 11,426/sq.ft.
384      ₹ 11,938/sq.ft.
385      ₹ 13,281/sq.ft.
386      ₹ 12,318/sq.ft.
387       ₹ 8,510/sq.ft.
388      ₹ 12,810/sq.ft.
389       ₹ 7,825/sq.ft.
390       ₹ 7,825/sq.ft.
391      ₹ 14,938/sq.ft.
392       ₹ 6,709/sq.ft.
393      ₹ 10,769/sq.ft.
394       ₹ 8,087/sq.ft.
395       ₹ 8,181/sq.ft.
396      ₹ 10,378/sq.ft.
397      ₹ 13,696/sq.ft.
398       ₹ 8,043/sq.ft.
399      ₹ 10,000/sq.ft.
400       ₹ 7,267/sq.ft.
401      ₹ 11,832/sq.ft.
402      ₹ 14,254/sq.ft.
403      ₹ 11,903/sq.ft.
404      ₹ 13,224/sq.ft.
405      ₹ 12,000/sq.ft.
406      ₹ 13,636/sq.ft.
407      ₹ 14,242/sq.ft.
408       ₹ 5,681/sq.ft.
409       ₹ 4,881/sq.ft.
410       ₹ 4,259/sq.ft.
411      ₹ 11,185/sq.ft.
412      ₹ 15,575/sq.ft.
413       ₹ 7,804/sq.ft.
414       ₹ 9,895/sq.ft.
415       ₹ 7,884/sq.ft.
416      ₹ 17,455/sq.ft.
417      ₹ 17,777/sq.ft.
418       ₹ 7,272/sq.ft.
419      ₹ 13,383/sq.ft.
420      ₹ 12,312/sq.ft.
421      ₹ 11,584/sq.ft.
422       ₹ 5,011/sq.ft.
423      ₹ 13,266/sq.ft.
424      ₹ 11,505/sq.ft.
425       ₹ 7,600/sq.ft.
426      ₹ 15,384/sq.ft.
427       ₹ 9,490/sq.ft.
428       ₹ 9,558/sq.ft.
429      ₹ 28,266/sq.ft.
430      ₹ 13,750/sq.ft.
431       ₹ 7,869/sq.ft.
432      ₹ 13,495/sq.ft.
433      ₹ 18,400/sq.ft.
434       ₹ 8,484/sq.ft.
435      ₹ 17,721/sq.ft.
436       ₹ 5,530/sq.ft.
437      ₹ 16,060/sq.ft.
438      ₹ 12,346/sq.ft.
439       ₹ 7,674/sq.ft.
440       ₹ 6,921/sq.ft.
441      ₹ 14,871/sq.ft.
442       ₹ 9,473/sq.ft.
443      ₹ 11,121/sq.ft.
444      ₹ 14,242/sq.ft.
445      ₹ 16,486/sq.ft.
446       ₹ 8,410/sq.ft.
447      ₹ 16,969/sq.ft.
448      ₹ 21,360/sq.ft.
449      ₹ 14,583/sq.ft.
450      ₹ 26,790/sq.ft.
451      ₹ 12,500/sq.ft.
452      ₹ 10,516/sq.ft.
453      ₹ 10,936/sq.ft.
454       ₹ 7,945/sq.ft.
455       ₹ 7,220/sq.ft.
456      ₹ 12,627/sq.ft.
457       ₹ 7,392/sq.ft.
458       ₹ 6,049/sq.ft.
459      ₹ 12,818/sq.ft.
460      ₹ 16,050/sq.ft.
461      ₹ 18,500/sq.ft.
462       ₹ 5,505/sq.ft.
463       ₹ 7,541/sq.ft.
464       ₹ 9,000/sq.ft.
465       ₹ 7,541/sq.ft.
466       ₹ 6,679/sq.ft.
467       ₹ 6,597/sq.ft.
468      ₹ 13,125/sq.ft.
469       ₹ 5,788/sq.ft.
470      ₹ 13,690/sq.ft.
471       ₹ 8,051/sq.ft.
472       ₹ 6,141/sq.ft.
473      ₹ 28,101/sq.ft.
474       ₹ 8,080/sq.ft.
475       ₹ 7,260/sq.ft.
476       ₹ 8,376/sq.ft.
477      ₹ 14,950/sq.ft.
478       ₹ 9,783/sq.ft.
479      ₹ 12,544/sq.ft.
480       ₹ 7,150/sq.ft.
481      ₹ 12,235/sq.ft.
482      ₹ 14,418/sq.ft.
483      ₹ 14,079/sq.ft.
484       ₹ 6,713/sq.ft.
485      ₹ 13,790/sq.ft.
486      ₹ 10,814/sq.ft.
487      ₹ 12,140/sq.ft.
488      ₹ 15,160/sq.ft.
489       ₹ 7,610/sq.ft.
490       ₹ 6,661/sq.ft.
491       ₹ 7,780/sq.ft.
492       ₹ 6,163/sq.ft.
493       ₹ 7,350/sq.ft.
494      ₹ 10,901/sq.ft.
495       ₹ 8,163/sq.ft.
496       ₹ 6,000/sq.ft.
497       ₹ 4,193/sq.ft.
498       ₹ 3,309/sq.ft.
499      ₹ 15,906/sq.ft.
500      ₹ 11,294/sq.ft.
501      ₹ 11,204/sq.ft.
502       ₹ 8,484/sq.ft.
503      ₹ 11,470/sq.ft.
504      ₹ 10,567/sq.ft.
505      ₹ 10,000/sq.ft.
506      ₹ 12,788/sq.ft.
507      ₹ 13,076/sq.ft.
508       ₹ 6,987/sq.ft.
509       ₹ 6,826/sq.ft.
510       ₹ 9,528/sq.ft.
511      ₹ 15,514/sq.ft.
512      ₹ 14,563/sq.ft.
513       ₹ 9,212/sq.ft.
514       ₹ 6,888/sq.ft.
515      ₹ 11,412/sq.ft.
516      ₹ 11,174/sq.ft.
517      ₹ 10,841/sq.ft.
518       ₹ 4,857/sq.ft.
519      ₹ 10,936/sq.ft.
520       ₹ 5,717/sq.ft.
521      ₹ 10,000/sq.ft.
522       ₹ 5,867/sq.ft.
523      ₹ 14,177/sq.ft.
524      ₹ 10,174/sq.ft.
525       ₹ 7,646/sq.ft.
526       ₹ 6,961/sq.ft.
527       ₹ 8,632/sq.ft.
528       ₹ 7,586/sq.ft.
529       ₹ 4,528/sq.ft.
530       ₹ 8,580/sq.ft.
531       ₹ 5,513/sq.ft.
532       ₹ 6,666/sq.ft.
533      ₹ 15,384/sq.ft.
534       ₹ 9,210/sq.ft.
535       ₹ 9,210/sq.ft.
536      ₹ 13,571/sq.ft.
537      ₹ 11,686/sq.ft.
538       ₹ 8,036/sq.ft.
539       ₹ 6,585/sq.ft.
540       ₹ 7,230/sq.ft.
541       ₹ 6,453/sq.ft.
542       ₹ 6,578/sq.ft.
543       ₹ 5,973/sq.ft.
544       ₹ 5,896/sq.ft.
545      ₹ 15,185/sq.ft.
546      ₹ 12,152/sq.ft.
547      ₹ 13,253/sq.ft.
548      ₹ 12,190/sq.ft.
549       ₹ 4,370/sq.ft.
550       ₹ 4,355/sq.ft.
551       ₹ 8,461/sq.ft.
552       ₹ 8,834/sq.ft.
553       ₹ 7,734/sq.ft.
554       ₹ 5,418/sq.ft.
555      ₹ 11,358/sq.ft.
556      ₹ 12,599/sq.ft.
557       ₹ 6,313/sq.ft.
558      ₹ 13,678/sq.ft.
559      ₹ 19,747/sq.ft.
560       ₹ 7,878/sq.ft.
561       ₹ 5,004/sq.ft.
562       ₹ 4,836/sq.ft.
563       ₹ 9,105/sq.ft.
564      ₹ 10,595/sq.ft.
565       ₹ 8,646/sq.ft.
566      ₹ 10,461/sq.ft.
567      ₹ 10,080/sq.ft.
568      ₹ 10,699/sq.ft.
569       ₹ 8,172/sq.ft.
570      ₹ 12,571/sq.ft.
571       ₹ 7,608/sq.ft.
572      ₹ 11,914/sq.ft.
573      ₹ 14,983/sq.ft.
574       ₹ 8,759/sq.ft.
575       ₹ 6,655/sq.ft.
576       ₹ 5,521/sq.ft.
577       ₹ 5,674/sq.ft.
578       ₹ 8,839/sq.ft.
579       ₹ 7,948/sq.ft.
580       ₹ 8,035/sq.ft.
581      ₹ 16,750/sq.ft.
582      ₹ 16,470/sq.ft.
583      ₹ 16,580/sq.ft.
584       ₹ 8,108/sq.ft.
585      ₹ 10,334/sq.ft.
586       ₹ 9,266/sq.ft.
587      ₹ 11,860/sq.ft.
588       ₹ 7,812/sq.ft.
589       ₹ 8,947/sq.ft.
590       ₹ 9,051/sq.ft.
591       ₹ 9,622/sq.ft.
592       ₹ 7,142/sq.ft.
593      ₹ 13,528/sq.ft.
594       ₹ 5,683/sq.ft.
595       ₹ 6,476/sq.ft.
596       ₹ 4,864/sq.ft.
597       ₹ 5,499/sq.ft.
598       ₹ 7,449/sq.ft.
599       ₹ 7,065/sq.ft.
600       ₹ 9,980/sq.ft.
601       ₹ 9,036/sq.ft.
602      ₹ 13,888/sq.ft.
603      ₹ 13,878/sq.ft.
604      ₹ 14,557/sq.ft.
605      ₹ 12,325/sq.ft.
606       ₹ 9,133/sq.ft.
607       ₹ 7,750/sq.ft.
608      ₹ 13,281/sq.ft.
609       ₹ 6,819/sq.ft.
610      ₹ 17,285/sq.ft.
611       ₹ 8,834/sq.ft.
612      ₹ 18,518/sq.ft.
613       ₹ 5,500/sq.ft.
614       ₹ 7,150/sq.ft.
615      ₹ 12,222/sq.ft.
616      ₹ 13,929/sq.ft.
617      ₹ 12,500/sq.ft.
618       ₹ 6,514/sq.ft.
619       ₹ 6,580/sq.ft.
620       ₹ 6,708/sq.ft.
621      ₹ 13,846/sq.ft.
622       ₹ 5,878/sq.ft.
623       ₹ 9,909/sq.ft.
624      ₹ 13,875/sq.ft.
625      ₹ 12,400/sq.ft.
626       ₹ 7,146/sq.ft.
627      ₹ 14,074/sq.ft.
628      ₹ 11,739/sq.ft.
629      ₹ 10,596/sq.ft.
630       ₹ 7,014/sq.ft.
631       ₹ 8,139/sq.ft.
632       ₹ 5,825/sq.ft.
633      ₹ 12,110/sq.ft.
634      ₹ 14,623/sq.ft.
635       ₹ 6,523/sq.ft.
636       ₹ 8,100/sq.ft.
637      ₹ 21,013/sq.ft.
638       ₹ 7,437/sq.ft.
639      ₹ 11,666/sq.ft.
640       ₹ 6,455/sq.ft.
641       ₹ 4,022/sq.ft.
642       ₹ 3,935/sq.ft.
643       ₹ 9,387/sq.ft.
644       ₹ 9,117/sq.ft.
645      ₹ 10,953/sq.ft.
646      ₹ 11,052/sq.ft.
647      ₹ 14,536/sq.ft.
648      ₹ 12,127/sq.ft.
649      ₹ 12,144/sq.ft.
650      ₹ 10,994/sq.ft.
651      ₹ 10,761/sq.ft.
652      ₹ 15,469/sq.ft.
653       ₹ 8,333/sq.ft.
654      ₹ 13,392/sq.ft.
655      ₹ 20,533/sq.ft.
656      ₹ 24,211/sq.ft.
657       ₹ 5,588/sq.ft.
658       ₹ 8,389/sq.ft.
659       ₹ 8,474/sq.ft.
660       ₹ 8,724/sq.ft.
661       ₹ 8,750/sq.ft.
662       ₹ 6,250/sq.ft.
663       ₹ 9,128/sq.ft.
664       ₹ 7,496/sq.ft.
665       ₹ 7,857/sq.ft.
666       ₹ 6,953/sq.ft.
667      ₹ 13,750/sq.ft.
668      ₹ 11,574/sq.ft.
669      ₹ 11,505/sq.ft.
670      ₹ 13,725/sq.ft.
671       ₹ 6,215/sq.ft.
672       ₹ 4,814/sq.ft.
673       ₹ 7,500/sq.ft.
674      ₹ 35,483/sq.ft.
675       ₹ 7,403/sq.ft.
676       ₹ 7,223/sq.ft.
677      ₹ 17,484/sq.ft.
678      ₹ 12,169/sq.ft.
679       ₹ 8,242/sq.ft.
680      ₹ 10,365/sq.ft.
681       ₹ 7,789/sq.ft.
682      ₹ 13,343/sq.ft.
683      ₹ 14,068/sq.ft.
684       ₹ 5,859/sq.ft.
685       ₹ 5,820/sq.ft.
686       ₹ 5,660/sq.ft.
687       ₹ 6,254/sq.ft.
688       ₹ 4,531/sq.ft.
689      ₹ 10,178/sq.ft.
690       ₹ 9,203/sq.ft.
691      ₹ 15,007/sq.ft.
692       ₹ 9,090/sq.ft.
693      ₹ 10,028/sq.ft.
694       ₹ 8,516/sq.ft.
695       ₹ 6,060/sq.ft.
696       ₹ 6,825/sq.ft.
697      ₹ 14,987/sq.ft.
698       ₹ 6,647/sq.ft.
699       ₹ 6,052/sq.ft.
700      ₹ 14,090/sq.ft.
701       ₹ 9,642/sq.ft.
702       ₹ 8,679/sq.ft.
703      ₹ 14,727/sq.ft.
704      ₹ 14,418/sq.ft.
705      ₹ 13,671/sq.ft.
706      ₹ 10,262/sq.ft.
707      ₹ 10,224/sq.ft.
708      ₹ 11,694/sq.ft.
709       ₹ 9,850/sq.ft.
710       ₹ 7,641/sq.ft.
711       ₹ 8,825/sq.ft.
712       ₹ 6,029/sq.ft.
713      ₹ 10,545/sq.ft.
714       ₹ 8,204/sq.ft.
715      ₹ 13,758/sq.ft.
716      ₹ 15,685/sq.ft.
717       ₹ 6,286/sq.ft.
718       ₹ 6,846/sq.ft.
719       ₹ 6,002/sq.ft.
720       ₹ 7,751/sq.ft.
721       ₹ 8,062/sq.ft.
722       ₹ 5,725/sq.ft.
723       ₹ 5,930/sq.ft.
724       ₹ 9,238/sq.ft.
725       ₹ 5,856/sq.ft.
726      ₹ 14,179/sq.ft.
727       ₹ 6,470/sq.ft.
728       ₹ 7,096/sq.ft.
729       ₹ 9,433/sq.ft.
730       ₹ 8,998/sq.ft.
731      ₹ 11,451/sq.ft.
732      ₹ 10,651/sq.ft.
733       ₹ 6,242/sq.ft.
734       ₹ 5,490/sq.ft.
735       ₹ 8,922/sq.ft.
736       ₹ 6,310/sq.ft.
737      ₹ 10,162/sq.ft.
738       ₹ 7,116/sq.ft.
739       ₹ 6,655/sq.ft.
740       ₹ 6,265/sq.ft.
741       ₹ 5,808/sq.ft.
742       ₹ 4,080/sq.ft.
743      ₹ 10,237/sq.ft.
744       ₹ 8,611/sq.ft.
745       ₹ 9,822/sq.ft.
746       ₹ 6,000/sq.ft.
747       ₹ 4,308/sq.ft.
748       ₹ 3,953/sq.ft.
749      ₹ 12,484/sq.ft.
750      ₹ 15,531/sq.ft.
751       ₹ 5,762/sq.ft.
752       ₹ 6,852/sq.ft.
753       ₹ 7,641/sq.ft.
754      ₹ 14,418/sq.ft.
755      ₹ 14,843/sq.ft.
756      ₹ 12,846/sq.ft.
757      ₹ 20,388/sq.ft.
758      ₹ 13,580/sq.ft.
759       ₹ 4,500/sq.ft.
760       ₹ 7,750/sq.ft.
761      ₹ 12,658/sq.ft.
762      ₹ 16,266/sq.ft.
763      ₹ 21,577/sq.ft.
764      ₹ 13,636/sq.ft.
765       ₹ 7,179/sq.ft.
766      ₹ 13,383/sq.ft.
767       ₹ 7,641/sq.ft.
768      ₹ 11,713/sq.ft.
769      ₹ 12,444/sq.ft.
770      ₹ 10,714/sq.ft.
771       ₹ 8,270/sq.ft.
772      ₹ 11,218/sq.ft.
773       ₹ 7,525/sq.ft.
774       ₹ 6,801/sq.ft.
775       ₹ 6,692/sq.ft.
776       ₹ 7,590/sq.ft.
777      ₹ 19,174/sq.ft.
778       ₹ 5,207/sq.ft.
779       ₹ 5,252/sq.ft.
780       ₹ 8,875/sq.ft.
781      ₹ 16,666/sq.ft.
782       ₹ 8,916/sq.ft.
783      ₹ 13,928/sq.ft.
784       ₹ 5,597/sq.ft.
785       ₹ 7,850/sq.ft.
786       ₹ 7,817/sq.ft.
787       ₹ 8,395/sq.ft.
788       ₹ 8,532/sq.ft.
789      ₹ 10,037/sq.ft.
790       ₹ 6,049/sq.ft.
791       ₹ 5,942/sq.ft.
792       ₹ 6,476/sq.ft.
793      ₹ 10,727/sq.ft.
794       ₹ 9,565/sq.ft.
795       ₹ 6,227/sq.ft.
796      ₹ 10,147/sq.ft.
797      ₹ 10,529/sq.ft.
798      ₹ 12,372/sq.ft.

In [ ]:
df['price_per_sqft'] = df['price_per_sqft'].str.split('/').str.get(0).str.replace('₹','').str.replace(',','').str.strip().astype('float')

In [ ]:
df.head()

,property_name,society,price,price_per_sqft,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,2 BHK Flat in Krishna Colony,maa bhagwati residency,0.45,5000.0,Carpet area: 900 (83.61 sq.m.),2 Bedrooms,2 Bathrooms,1 Balcony,NaN,"Krishna Colony, Gurgaon, Haryana",4th of 4 Floors,West,1 to 5 Year Old,"['Chintapurni Mandir', 'State bank ATM', 'Pear...",So with lift.Maa bhagwati residency is one of ...,"['3 Fan', '4 Light', '1 Wardrobe', 'No AC', 'N...","['Feng Shui / Vaastu Compliant', 'Security / F...","['Environment4 out of 5', 'Safety4 out of 5', ..."
1,2 BHK Flat in Ashok Vihar,apna enclave,0.50,7692.0,Carpet area: 650 (60.39 sq.m.),2 Bedrooms,2 Bathrooms,1 Balcony,NaN,"46b, Ashok Vihar, Gurgaon, Haryana",1st of 3 Floors,West,10+ Year Old,"['Chintapurni Mandir', 'Sheetla Mata Mandir', ...","Property situated on main road, railway statio...","['3 Wardrobe', '4 Fan', '1 Exhaust Fan', '1 Ge...","['Security / Fire Alarm', 'Maintenance Staff',...","['Environment4 out of 5', 'Safety4 out of 5', ..."
2,2 BHK Flat in Sohna,tulsiani easy in homes,0.40,6722.0,Carpet area: 595 (55.28 sq.m.),2 Bedrooms,2 Bathrooms,3 Balconies,NaN,"Sohna, Gurgaon, Haryana",12nd of 14 Floors,NaN,0 to 1 Year Old,"['Huda City Metro', 'Golf Course extn road', '...","This property is 15 km away from badshapur, gu...",NaN,"['Power Back-up', 'Feng Shui / Vaastu Complian...","['Environment4 out of 5', 'Safety4 out of 5', ..."
3,2 BHK Flat in Sector 61 Gurgaon,smart world orchard,1.47,12250.0,Carpet area: 1200 (111.48 sq.m.),2 Bedrooms,2 Bathrooms,2 Balconies,Study Room,"Sector 61 Gurgaon, Gurgaon, Haryana",2nd of 4 Floors,NaN,Dec-23,"['Sector 55-56 Metro station', 'Bestech Centra...",Near to metro station of sector 56 and opposit...,NaN,"['Security / Fire Alarm', 'Private Garden / Te...",NaN
4,2 BHK Flat in Sector 92 Gurgaon,parkwood westend,0.70,5204.0,Super Built up area 1345(124.95 sq.m.),2 Bedrooms,2 Bathrooms,3 Balconies,Study Room,"Sector 92 Gurgaon, Gurgaon, Haryana",5th of 8 Floors,NaN,Under Construction,"['Yadav Clinic', 'Bangali Clinic', 'Dr. J. S. ...",We are the proud owners of this 2 bhk alongwit...,[],NaN,"['Environment5 out of 5', 'Safety3 out of 5', ..."

# **bedRoom**

In [ ]:
df.head()

,property_name,society,price,price_per_sqft,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,2 BHK Flat in Krishna Colony,maa bhagwati residency,0.45,5000.0,Carpet area: 900 (83.61 sq.m.),2 Bedrooms,2 Bathrooms,1 Balcony,NaN,"Krishna Colony, Gurgaon, Haryana",4th of 4 Floors,West,1 to 5 Year Old,"['Chintapurni Mandir', 'State bank ATM', 'Pear...",So with lift.Maa bhagwati residency is one of ...,"['3 Fan', '4 Light', '1 Wardrobe', 'No AC', 'N...","['Feng Shui / Vaastu Compliant', 'Security / F...","['Environment4 out of 5', 'Safety4 out of 5', ..."
1,2 BHK Flat in Ashok Vihar,apna enclave,0.50,7692.0,Carpet area: 650 (60.39 sq.m.),2 Bedrooms,2 Bathrooms,1 Balcony,NaN,"46b, Ashok Vihar, Gurgaon, Haryana",1st of 3 Floors,West,10+ Year Old,"['Chintapurni Mandir', 'Sheetla Mata Mandir', ...","Property situated on main road, railway statio...","['3 Wardrobe', '4 Fan', '1 Exhaust Fan', '1 Ge...","['Security / Fire Alarm', 'Maintenance Staff',...","['Environment4 out of 5', 'Safety4 out of 5', ..."
2,2 BHK Flat in Sohna,tulsiani easy in homes,0.40,6722.0,Carpet area: 595 (55.28 sq.m.),2 Bedrooms,2 Bathrooms,3 Balconies,NaN,"Sohna, Gurgaon, Haryana",12nd of 14 Floors,NaN,0 to 1 Year Old,"['Huda City Metro', 'Golf Course extn road', '...","This property is 15 km away from badshapur, gu...",NaN,"['Power Back-up', 'Feng Shui / Vaastu Complian...","['Environment4 out of 5', 'Safety4 out of 5', ..."
3,2 BHK Flat in Sector 61 Gurgaon,smart world orchard,1.47,12250.0,Carpet area: 1200 (111.48 sq.m.),2 Bedrooms,2 Bathrooms,2 Balconies,Study Room,"Sector 61 Gurgaon, Gurgaon, Haryana",2nd of 4 Floors,NaN,Dec-23,"['Sector 55-56 Metro station', 'Bestech Centra...",Near to metro station of sector 56 and opposit...,NaN,"['Security / Fire Alarm', 'Private Garden / Te...",NaN
4,2 BHK Flat in Sector 92 Gurgaon,parkwood westend,0.70,5204.0,Super Built up area 1345(124.95 sq.m.),2 Bedrooms,2 Bathrooms,3 Balconies,Study Room,"Sector 92 Gurgaon, Gurgaon, Haryana",5th of 8 Floors,NaN,Under Construction,"['Yadav Clinic', 'Bangali Clinic', 'Dr. J. S. ...",We are the proud owners of this 2 bhk alongwit...,[],NaN,"['Environment5 out of 5', 'Safety3 out of 5', ..."

In [ ]:
df['bedRoom'].value_counts()

3 Bedrooms    1437
2 Bedrooms     944
4 Bedrooms     478
1 Bedroom      104
5 Bedrooms      31
6 Bedrooms       3
Name: bedRoom, dtype: int64

In [ ]:
df[df['bedRoom'].isnull()]

Empty DataFrame
Columns: [property_name, society, price, price_per_sqft, areaWithType, bedRoom, bathroom, balcony, additionalRoom, address, floorNum, facing, agePossession, nearbyLocations, description, furnishDetails, features, rating]
Index: []

In [ ]:
df = df[~df['bedRoom'].isnull()]

In [ ]:
df['bedRoom'] = df['bedRoom'].str.split(' ').str.get(0).astype('int')

In [ ]:
df.head()

,property_name,society,price,price_per_sqft,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,2 BHK Flat in Krishna Colony,maa bhagwati residency,0.45,5000.0,Carpet area: 900 (83.61 sq.m.),2,2 Bathrooms,1 Balcony,NaN,"Krishna Colony, Gurgaon, Haryana",4th of 4 Floors,West,1 to 5 Year Old,"['Chintapurni Mandir', 'State bank ATM', 'Pear...",So with lift.Maa bhagwati residency is one of ...,"['3 Fan', '4 Light', '1 Wardrobe', 'No AC', 'N...","['Feng Shui / Vaastu Compliant', 'Security / F...","['Environment4 out of 5', 'Safety4 out of 5', ..."
1,2 BHK Flat in Ashok Vihar,apna enclave,0.50,7692.0,Carpet area: 650 (60.39 sq.m.),2,2 Bathrooms,1 Balcony,NaN,"46b, Ashok Vihar, Gurgaon, Haryana",1st of 3 Floors,West,10+ Year Old,"['Chintapurni Mandir', 'Sheetla Mata Mandir', ...","Property situated on main road, railway statio...","['3 Wardrobe', '4 Fan', '1 Exhaust Fan', '1 Ge...","['Security / Fire Alarm', 'Maintenance Staff',...","['Environment4 out of 5', 'Safety4 out of 5', ..."
2,2 BHK Flat in Sohna,tulsiani easy in homes,0.40,6722.0,Carpet area: 595 (55.28 sq.m.),2,2 Bathrooms,3 Balconies,NaN,"Sohna, Gurgaon, Haryana",12nd of 14 Floors,NaN,0 to 1 Year Old,"['Huda City Metro', 'Golf Course extn road', '...","This property is 15 km away from badshapur, gu...",NaN,"['Power Back-up', 'Feng Shui / Vaastu Complian...","['Environment4 out of 5', 'Safety4 out of 5', ..."
3,2 BHK Flat in Sector 61 Gurgaon,smart world orchard,1.47,12250.0,Carpet area: 1200 (111.48 sq.m.),2,2 Bathrooms,2 Balconies,Study Room,"Sector 61 Gurgaon, Gurgaon, Haryana",2nd of 4 Floors,NaN,Dec-23,"['Sector 55-56 Metro station', 'Bestech Centra...",Near to metro station of sector 56 and opposit...,NaN,"['Security / Fire Alarm', 'Private Garden / Te...",NaN
4,2 BHK Flat in Sector 92 Gurgaon,parkwood westend,0.70,5204.0,Super Built up area 1345(124.95 sq.m.),2,2 Bathrooms,3 Balconies,Study Room,"Sector 92 Gurgaon, Gurgaon, Haryana",5th of 8 Floors,NaN,Under Construction,"['Yadav Clinic', 'Bangali Clinic', 'Dr. J. S. ...",We are the proud owners of this 2 bhk alongwit...,[],NaN,"['Environment5 out of 5', 'Safety3 out of 5', ..."

# **bathroom**

In [ ]:
df['bathroom'].value_counts()

2 Bathrooms    1044
3 Bathrooms     989
4 Bathrooms     636
5 Bathrooms     169
1 Bathroom      112
6 Bathrooms      42
7 Bathrooms       5
Name: bathroom, dtype: int64

In [ ]:
df['bathroom'].isnull().sum()

0

In [ ]:
df['bathroom']=df['bathroom'].str.split(' ').str.get(0).astype('int')

In [ ]:
df.head()

,property_name,society,price,price_per_sqft,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,2 BHK Flat in Krishna Colony,maa bhagwati residency,0.45,5000.0,Carpet area: 900 (83.61 sq.m.),2,2,1 Balcony,NaN,"Krishna Colony, Gurgaon, Haryana",4th of 4 Floors,West,1 to 5 Year Old,"['Chintapurni Mandir', 'State bank ATM', 'Pear...",So with lift.Maa bhagwati residency is one of ...,"['3 Fan', '4 Light', '1 Wardrobe', 'No AC', 'N...","['Feng Shui / Vaastu Compliant', 'Security / F...","['Environment4 out of 5', 'Safety4 out of 5', ..."
1,2 BHK Flat in Ashok Vihar,apna enclave,0.50,7692.0,Carpet area: 650 (60.39 sq.m.),2,2,1 Balcony,NaN,"46b, Ashok Vihar, Gurgaon, Haryana",1st of 3 Floors,West,10+ Year Old,"['Chintapurni Mandir', 'Sheetla Mata Mandir', ...","Property situated on main road, railway statio...","['3 Wardrobe', '4 Fan', '1 Exhaust Fan', '1 Ge...","['Security / Fire Alarm', 'Maintenance Staff',...","['Environment4 out of 5', 'Safety4 out of 5', ..."
2,2 BHK Flat in Sohna,tulsiani easy in homes,0.40,6722.0,Carpet area: 595 (55.28 sq.m.),2,2,3 Balconies,NaN,"Sohna, Gurgaon, Haryana",12nd of 14 Floors,NaN,0 to 1 Year Old,"['Huda City Metro', 'Golf Course extn road', '...","This property is 15 km away from badshapur, gu...",NaN,"['Power Back-up', 'Feng Shui / Vaastu Complian...","['Environment4 out of 5', 'Safety4 out of 5', ..."
3,2 BHK Flat in Sector 61 Gurgaon,smart world orchard,1.47,12250.0,Carpet area: 1200 (111.48 sq.m.),2,2,2 Balconies,Study Room,"Sector 61 Gurgaon, Gurgaon, Haryana",2nd of 4 Floors,NaN,Dec-23,"['Sector 55-56 Metro station', 'Bestech Centra...",Near to metro station of sector 56 and opposit...,NaN,"['Security / Fire Alarm', 'Private Garden / Te...",NaN
4,2 BHK Flat in Sector 92 Gurgaon,parkwood westend,0.70,5204.0,Super Built up area 1345(124.95 sq.m.),2,2,3 Balconies,Study Room,"Sector 92 Gurgaon, Gurgaon, Haryana",5th of 8 Floors,NaN,Under Construction,"['Yadav Clinic', 'Bangali Clinic', 'Dr. J. S. ...",We are the proud owners of this 2 bhk alongwit...,[],NaN,"['Environment5 out of 5', 'Safety3 out of 5', ..."

# **Balconies**

In [ ]:
df['balcony'].isnull().sum()

0

In [ ]:
df['balcony'].value_counts()

3 Balconies     974
3+ Balconies    862
2 Balconies     749
1 Balcony       315
No Balcony       97
Name: balcony, dtype: int64

In [ ]:
df['balcony'] = df['balcony'].str.split(' ').str.get(0).str.replace('No','0')

In [ ]:
df.head()

,property_name,society,price,price_per_sqft,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,2 BHK Flat in Krishna Colony,maa bhagwati residency,0.45,5000.0,Carpet area: 900 (83.61 sq.m.),2,2,1,NaN,"Krishna Colony, Gurgaon, Haryana",4th of 4 Floors,West,1 to 5 Year Old,"['Chintapurni Mandir', 'State bank ATM', 'Pear...",So with lift.Maa bhagwati residency is one of ...,"['3 Fan', '4 Light', '1 Wardrobe', 'No AC', 'N...","['Feng Shui / Vaastu Compliant', 'Security / F...","['Environment4 out of 5', 'Safety4 out of 5', ..."
1,2 BHK Flat in Ashok Vihar,apna enclave,0.50,7692.0,Carpet area: 650 (60.39 sq.m.),2,2,1,NaN,"46b, Ashok Vihar, Gurgaon, Haryana",1st of 3 Floors,West,10+ Year Old,"['Chintapurni Mandir', 'Sheetla Mata Mandir', ...","Property situated on main road, railway statio...","['3 Wardrobe', '4 Fan', '1 Exhaust Fan', '1 Ge...","['Security / Fire Alarm', 'Maintenance Staff',...","['Environment4 out of 5', 'Safety4 out of 5', ..."
2,2 BHK Flat in Sohna,tulsiani easy in homes,0.40,6722.0,Carpet area: 595 (55.28 sq.m.),2,2,3,NaN,"Sohna, Gurgaon, Haryana",12nd of 14 Floors,NaN,0 to 1 Year Old,"['Huda City Metro', 'Golf Course extn road', '...","This property is 15 km away from badshapur, gu...",NaN,"['Power Back-up', 'Feng Shui / Vaastu Complian...","['Environment4 out of 5', 'Safety4 out of 5', ..."
3,2 BHK Flat in Sector 61 Gurgaon,smart world orchard,1.47,12250.0,Carpet area: 1200 (111.48 sq.m.),2,2,2,Study Room,"Sector 61 Gurgaon, Gurgaon, Haryana",2nd of 4 Floors,NaN,Dec-23,"['Sector 55-56 Metro station', 'Bestech Centra...",Near to metro station of sector 56 and opposit...,NaN,"['Security / Fire Alarm', 'Private Garden / Te...",NaN
4,2 BHK Flat in Sector 92 Gurgaon,parkwood westend,0.70,5204.0,Super Built up area 1345(124.95 sq.m.),2,2,3,Study Room,"Sector 92 Gurgaon, Gurgaon, Haryana",5th of 8 Floors,NaN,Under Construction,"['Yadav Clinic', 'Bangali Clinic', 'Dr. J. S. ...",We are the proud owners of this 2 bhk alongwit...,[],NaN,"['Environment5 out of 5', 'Safety3 out of 5', ..."

# **additionalRoom**

In [ ]:
df['additionalRoom'].value_counts()

Servant Room                                     629
Study Room                                       232
Others                                           179
Pooja Room                                       132
Study Room,Servant Room                           81
Store Room                                        76
Pooja Room,Servant Room                           60
Servant Room,Others                               52
Servant Room,Pooja Room                           30
Study Room,Others                                 27
Pooja Room,Study Room,Servant Room,Others         25
Pooja Room,Study Room,Servant Room                24
Servant Room,Store Room                           19
Pooja Room,Study Room                             13
Pooja Room,Study Room,Servant Room,Store Room     12
Study Room,Pooja Room                              8
Servant Room,Study Room                            8
Study Room,Servant Room,Store Room                 7
Pooja Room,Store Room                              6
Pooja Room,Others                                  6
Others,Servant Room                                6
Servant Room,Study Room,Pooja Room,Store Room      6
Pooja Room,Servant Room,Others                     6
Study Room,Servant Room,Others                     5
Pooja Room,Store Room,Study Room,Servant Room      4
Pooja Room,Study Room,Store Room                   4
Servant Room,Pooja Room,Study Room,Store Room      3
Study Room,Pooja Room,Store Room                   3
Store Room,Servant Room                            3
Servant Room,Study Room,Store Room                 2
Pooja Room,Study Room,Others                       2
Study Room,Pooja Room,Servant Room                 2
Servant Room,Others,Store Room,Pooja Room          2
Servant Room,Others,Pooja Room                     2
Study Room,Servant Room,Pooja Room,Store Room      2
Others,Study Room                                  1
Servant Room,Study Room,Others                     1
Servant Room,Pooja Room,Study Room                 1
Servant Room,Study Room,Pooja Room                 1
Store Room,Pooja Room,Servant Room                 1
Servant Room,Pooja Room,Store Room,Study Room      1
Study Room,Store Room                              1
Store Room,Study Room                              1
Servant Room,Pooja Room,Store Room                 1
Study Room,Servant Room,Store Room,Pooja Room      1
Study Room,Servant Room,Pooja Room                 1
Pooja Room,Servant Room,Study Room,Store Room      1
Pooja Room,Study Room,Store Room,Servant Room      1
Store Room,Pooja Room                              1
Name: additionalRoom, dtype: int64

In [ ]:
df['additionalRoom'].isnull().sum()

1305

In [ ]:
df['additionalRoom'].fillna('Not available',inplace=True)

In [ ]:
df['additionalRoom'] = df['additionalRoom'].str.lower()

In [ ]:
df.head()

,property_name,society,price,price_per_sqft,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,2 BHK Flat in Krishna Colony,maa bhagwati residency,0.45,5000.0,Carpet area: 900 (83.61 sq.m.),2,2,1,not available,"Krishna Colony, Gurgaon, Haryana",4th of 4 Floors,West,1 to 5 Year Old,"['Chintapurni Mandir', 'State bank ATM', 'Pear...",So with lift.Maa bhagwati residency is one of ...,"['3 Fan', '4 Light', '1 Wardrobe', 'No AC', 'N...","['Feng Shui / Vaastu Compliant', 'Security / F...","['Environment4 out of 5', 'Safety4 out of 5', ..."
1,2 BHK Flat in Ashok Vihar,apna enclave,0.50,7692.0,Carpet area: 650 (60.39 sq.m.),2,2,1,not available,"46b, Ashok Vihar, Gurgaon, Haryana",1st of 3 Floors,West,10+ Year Old,"['Chintapurni Mandir', 'Sheetla Mata Mandir', ...","Property situated on main road, railway statio...","['3 Wardrobe', '4 Fan', '1 Exhaust Fan', '1 Ge...","['Security / Fire Alarm', 'Maintenance Staff',...","['Environment4 out of 5', 'Safety4 out of 5', ..."
2,2 BHK Flat in Sohna,tulsiani easy in homes,0.40,6722.0,Carpet area: 595 (55.28 sq.m.),2,2,3,not available,"Sohna, Gurgaon, Haryana",12nd of 14 Floors,NaN,0 to 1 Year Old,"['Huda City Metro', 'Golf Course extn road', '...","This property is 15 km away from badshapur, gu...",NaN,"['Power Back-up', 'Feng Shui / Vaastu Complian...","['Environment4 out of 5', 'Safety4 out of 5', ..."
3,2 BHK Flat in Sector 61 Gurgaon,smart world orchard,1.47,12250.0,Carpet area: 1200 (111.48 sq.m.),2,2,2,study room,"Sector 61 Gurgaon, Gurgaon, Haryana",2nd of 4 Floors,NaN,Dec-23,"['Sector 55-56 Metro station', 'Bestech Centra...",Near to metro station of sector 56 and opposit...,NaN,"['Security / Fire Alarm', 'Private Garden / Te...",NaN
4,2 BHK Flat in Sector 92 Gurgaon,parkwood westend,0.70,5204.0,Super Built up area 1345(124.95 sq.m.),2,2,3,study room,"Sector 92 Gurgaon, Gurgaon, Haryana",5th of 8 Floors,NaN,Under Construction,"['Yadav Clinic', 'Bangali Clinic', 'Dr. J. S. ...",We are the proud owners of this 2 bhk alongwit...,[],NaN,"['Environment5 out of 5', 'Safety3 out of 5', ..."

# **floorNum**

In [ ]:
df['floorNum']

0              4th   of 4 Floors
1              1st   of 3 Floors
2            12nd   of 14 Floors
3              2nd   of 4 Floors
4              5th   of 8 Floors
5              3rd   of 3 Floors
6             5th   of 25 Floors
7            14th   of 27 Floors
8              2nd   of 3 Floors
9            31st   of 40 Floors
10             1st   of 4 Floors
11            4th   of 13 Floors
12            4th   of 15 Floors
13            3rd   of 20 Floors
14           13rd   of 13 Floors
15           25th   of 25 Floors
16            Ground of 1 Floors
17           Ground of 14 Floors
18           11st   of 14 Floors
19           12nd   of 13 Floors
20             4th   of 4 Floors
21           11st   of 22 Floors
22             4th   of 4 Floors
23           Ground of 14 Floors
24           10th   of 25 Floors
26             3rd   of 3 Floors
27           20th   of 20 Floors
28            5th   of 17 Floors
29            4th   of 12 Floors
30             4th   of 4 Floors
31             1st   of 4 Floors
32           12nd   of 12 Floors
33            8th   of 12 Floors
34           20th   of 20 Floors
35             8th   of 8 Floors
36           21st   of 24 Floors
37           Ground of 11 Floors
38            6th   of 19 Floors
39            1st   of 19 Floors
40             1st   of 3 Floors
41           12nd   of 17 Floors
42            6th   of 24 Floors
43            1st   of 25 Floors
44             2nd   of 4 Floors
45             1st   of 4 Floors
46            9th   of 29 Floors
47             5th   of 8 Floors
48           18th   of 32 Floors
49           29th   of 31 Floors
50             3rd   of 5 Floors
51            3rd   of 26 Floors
52            5th   of 18 Floors
53             1st   of 4 Floors
54            9th   of 12 Floors
55            6th   of 10 Floors
56             2nd   of 4 Floors
57           14th   of 14 Floors
58            1st   of 11 Floors
59            8th   of 14 Floors
60             2nd   of 2 Floors
61           12nd   of 12 Floors
62            4th   of 14 Floors
63            1st   of 18 Floors
64            7th   of 19 Floors
65             3rd   of 4 Floors
66            5th   of 20 Floors
67            9th   of 15 Floors
68           14th   of 17 Floors
69           14th   of 14 Floors
70           15th   of 20 Floors
71            6th   of 14 Floors
72            6th   of 14 Floors
73            2nd   of 12 Floors
74            3rd   of 11 Floors
75             2nd   of 4 Floors
76            4th   of 13 Floors
77             3rd   of 4 Floors
78            6th   of 14 Floors
79            8th   of 13 Floors
80             2nd   of 4 Floors
81             4th   of 4 Floors
82           Ground of 14 Floors
83           11st   of 11 Floors
84             1st   of 3 Floors
85           11st   of 13 Floors
86           21st   of 41 Floors
87            4th   of 13 Floors
88             2nd   of 5 Floors
89             2nd   of 3 Floors
90             4th   of 4 Floors
91           32nd   of 32 Floors
92             2nd   of 4 Floors
93             2nd   of 2 Floors
94             2nd   of 2 Floors
95           11st   of 11 Floors
96           23rd   of 26 Floors
97            6th   of 12 Floors
98            9th   of 20 Floors
99             1st   of 4 Floors
100           5th   of 15 Floors
101            43   of 47 Floors
102            1st   of 1 Floors
103            1st   of 4 Floors
104           1st   of 13 Floors
105          11st   of 12 Floors
106          14th   of 24 Floors
107           9th   of 30 Floors
108           8th   of 14 Floors
109            9th   of 9 Floors
110           2nd   of 12 Floors
111           4th   of 14 Floors
112          32nd   of 55 Floors
113            43   of 47 Floors
114           2nd   of 19 Floors
115            3rd   of 4 Floors
116           8th   of 22 Floors
117            3rd   of 4 Floors
118          20th   of 32 Floors
119           2nd   of 17 Floors
120        Basement of 28 Floors
121           4th   of 10 Floors
122           Ground of 4 Floors
123            3rd   of 4 Floors
124            4th   of 8 Floors
125            3rd   of 4 Floors
126           6th   of 20 Floors
127          13rd   of 13 Floors
128          13rd   of 13 Floors
129          16th   of 16 Floors
130            3rd   of 4 Floors
131           Ground of 1 Floors
132          11st   of 14 Floors
133           2nd   of 14 Floors
134          12nd   of 12 Floors
135            2nd   of 4 Floors
136           1st   of 18 Floors
137           4th   of 12 Floors
138          11st   of 13 Floors
139           5th   of 17 Floors
140           1st   of 25 Floors
141          12nd   of 16 Floors
142          16th   of 18 Floors
143            6th   of 6 Floors
144            2nd   of 2 Floors
145            3rd   of 4 Floors
146          11st   of 25 Floors
147          10th   of 18 Floors
148           2nd   of 25 Floors
149            4th   of 4 Floors
150          19th   of 41 Floors
151            1st   of 3 Floors
152            8th   of 8 Floors
153          18th   of 19 Floors
154          10th   of 16 Floors
155           7th   of 20 Floors
156           2nd   of 14 Floors
157          10th   of 10 Floors
158           5th   of 12 Floors
159          10th   of 20 Floors
160          20th   of 34 Floors
161          20th   of 22 Floors
162            3rd   of 4 Floors
163          13rd   of 14 Floors
164           3rd   of 19 Floors
165           7th   of 18 Floors
166            4th   of 4 Floors
167           4th   of 14 Floors
168            2nd   of 4 Floors
169           2nd   of 25 Floors
170           4th   of 14 Floors
171           3rd   of 19 Floors
172            1st   of 1 Floors
173            2nd   of 4 Floors
174          11st   of 15 Floors
175          11st   of 21 Floors
176          16th   of 22 Floors
177           8th   of 10 Floors
178           1st   of 35 Floors
179          18th   of 25 Floors
180           8th   of 15 Floors
181                          NaN
182           2nd   of 16 Floors
183          17th   of 17 Floors
184          23rd   of 28 Floors
185          10th   of 18 Floors
186          30th   of 32 Floors
187            4th   of 4 Floors
188            2nd   of 3 Floors
189           Ground of 3 Floors
190          Ground of 14 Floors
191            1st   of 4 Floors
192            1st   of 1 Floors
193          11st   of 36 Floors
194          11st   of 13 Floors
195           Ground of 3 Floors
196          19th   of 19 Floors
197          28th   of 28 Floors
198            4th   of 4 Floors
199            9th   of 9 Floors
200            7th   of 7 Floors
201         Basement of 4 Floors
202          15th   of 15 Floors
203           2nd   of 34 Floors
204          Ground of 14 Floors
205           9th   of 10 Floors
206           1st   of 15 Floors
207            1st   of 1 Floors
208           4th   of 34 Floors
209           4th   of 18 Floors
210           3rd   of 15 Floors
211            1st   of 4 Floors
212           1st   of 19 Floors
213     Lower Ground of 4 Floors
214          13rd   of 13 Floors
215           4th   of 40 Floors
216           6th   of 18 Floors
217          20th   of 47 Floors
218          27th   of 48 Floors
219            6th   of 7 Floors
220          33rd   of 48 Floors
221          35th   of 35 Floors
222          26th   of 47 Floors
223           Ground of 1 Floors
224            2nd   of 4 Floors
225           4th   of 14 Floors
226          10th   of 17 Floors
227          11st   of 14 Floors
228          10th   of 22 Floors
229          Ground of 24 Floors
230           3rd   of 12 Floors
231           7th   of 25 Floors
232           8th   of 14 Floors
233            2nd   of 4 Floors
234           3rd   of 18 Floors
235            1st   of 4 Floors
236           9th   of 14 Floors
237          14th   of 15 Floors
238            4th   of 4 Floors
239           8th   of 25 Floors
240          10th   of 14 Floors
241           3rd   of 14 Floors
242            3rd   of 4 Floors
243            2nd   of 4 Floors
244           3rd   of 14 Floors
245            7th   of 7 Floors
246            2nd   of 4 Floors
247           3rd   of 15 Floors
248           8th   of 34 Floors
249          12nd   of 14 Floors
250           8th   of 42 Floors
251            1st   of 4 Floors
252           1st   of 22 Floors
253          26th   of 34 Floors
254          21st   of 29 Floors
255           8th   of 32 Floors
256           2nd   of 14 Floors
257           1st   of 12 Floors
258            2nd   of 4 Floors
259          39th   of 40 Floors
260           1st   of 14 Floors
261           8th   of 10 Floors
262            2nd   of 3 Floors
263            3rd   of 4 Floors
264            7th   of 9 Floors
265           4th   of 15 Floors
266          22nd   of 24 Floors
267          14th   of 20 Floors
268          11st   of 15 Floors
269          17th   of 17 Floors
270           3rd   of 12 Floors
271          12nd   of 13 Floors
272           8th   of 19 Floors
273           3rd   of 14 Floors
274          14th   of 14 Floors
275            7th   of 7 Floors
276           9th   of 15 Floors
277           2nd   of 17 Floors
278            3rd   of 3 Floors
279            6th   of 6 Floors
280          16th   of 16 Floors
281          12nd   of 12 Floors
282            1st   of 1 Floors
283            4th   of 4 Floors
284          17th   of 17 Floors
285           7th   of 26 Floors
286          11st   of 30 Floors
287            4th   of 8 Floors
288           1st   of 14 Floors
289           6th   of 14 Floors
290            1st   of 3 Floors
291          17th   of 17 Floors
292            1st   of 7 Floors
293          16th   of 18 Floors
294          19th   of 40 Floors
295          31st   of 32 Floors
296          14th   of 22 Floors
297           5th   of 19 Floors
298            2nd   of 4 Floors
299            1st   of 4 Floors
300           1st   of 10 Floors
301          15th   of 32 Floors
302            1st   of 7 Floors
303            1st   of 2 Floors
304            2nd   of 3 Floors
305          11st   of 14 Floors
306           9th   of 26 Floors
307          33rd   of 42 Floors
308          14th   of 18 Floors
309            4th   of 4 Floors
310           5th   of 14 Floors
311          18th   of 18 Floors
312           1st   of 14 Floors
313          20th   of 23 Floors
314           9th   of 14 Floors
315          18th   of 19 Floors
316           8th   of 32 Floors
317           4th   of 15 Floors
318           9th   of 17 Floors
319            4th   of 8 Floors
320           1st   of 14 Floors
321           6th   of 14 Floors
322            1st   of 3 Floors
323          19th   of 40 Floors
324          31st   of 32 Floors
325           5th   of 19 Floors
326            1st   of 4 Floors
327           1st   of 10 Floors
328          15th   of 32 Floors
329            1st   of 7 Floors
330            1st   of 2 Floors
331            2nd   of 3 Floors
332          11st   of 14 Floors
333           9th   of 26 Floors
334          14th   of 18 Floors
335           5th   of 14 Floors
336           1st   of 14 Floors
337           9th   of 14 Floors
338          18th   of 19 Floors
339           4th   of 15 Floors
340           1st   of 44 Floors
341          20th   of 20 Floors
342          24th   of 31 Floors
343           2nd   of 15 Floors
344            4th   of 4 Floors
345          14th   of 14 Floors
346           9th   of 16 Floors
347          14th   of 15 Floors
348           4th   of 14 Floors
349          26th   of 30 Floors
350           2nd   of 16 Floors
351          14th   of 24 Floors
352          17th   of 17 Floors
353           2nd   of 14 Floors
354          25th   of 25 Floors
355           9th   of 22 Floors
356            4th   of 4 Floors
357           6th   of 17 Floors
358           5th   of 14 Floors
359           4th   of 14 Floors
360          14th   of 21 Floors
361          15th   of 19 Floors
362           7th   of 14 Floors
363            2nd   of 4 Floors
364          16th   of 20 Floors
365          24th   of 51 Floors
366          10th   of 20 Floors
367            2nd   of 4 Floors
368           2nd   of 12 Floors
369           2nd   of 24 Floors
370           1st   of 19 Floors
371           8th   of 18 Floors
372          12nd   of 22 Floors
373          18th   of 19 Floors
374            1st   of 4 Floors
375           2nd   of 36 Floors
376            3rd   of 4 Floors
377          11st   of 11 Floors
378           7th   of 20 Floors
379           5th   of 18 Floors
380           6th   of 12 Floors
381          19th   of 31 Floors
382          25th   of 25 Floors
383          10th   of 10 Floors
384          10th   of 10 Floors
385            3rd   of 9 Floors
386           8th   of 14 Floors
387           5th   of 12 Floors
388           4th   of 22 Floors
389           1st   of 35 Floors
390          10th   of 14 Floors
391          16th   of 24 Floors
392          10th   of 14 Floors
393            3rd   of 8 Floors
394          17th   of 19 Floors
395           9th   of 14 Floors
396          11st   of 26 Floors
397          19th   of 20 Floors
398          Ground of 16 Floors
399          Ground of 23 Floors
400           8th   of 26 Floors
401           4th   of 11 Floors
402          30th   of 32 Floors
403          16th   of 51 Floors
404          18th   of 21 Floors
405           2nd   of 10 Floors
406           7th   of 10 Floors
407            2nd   of 4 Floors
408          10th   of 10 Floors
409           9th   of 12 Floors
410           6th   of 10 Floors
411          14th   of 29 Floors
412          25th   of 36 Floors
413           7th   of 23 Floors
414           4th   of 14 Floors
415            7th   of 9 Floors
416          18th   of 32 Floors
417          12nd   of 17 Floors
418            3rd   of 4 Floors
419          21st   of 28 Floors
420          14th   of 28 Floors
421           5th   of 25 Floors
422           3rd   of 19 Floors
423          19th   of 24 Floors
424          10th   of 14 Floors
425            5th   of 9 Floors
426          10th   of 30 Floors
427           7th   of 14 Floors
428          11st   of 20 Floors
429           2nd   of 17 Floors
430            2nd   of 4 Floors
431           7th   of 14 Floors
432           6th   of 14 Floors
433          11st   of 17 Floors
434           9th   of 14 Floors
435            4th   of 4 Floors
436          14th   of 20 Floors
437            5th   of 5 Floors
438            1st   of 4 Floors
439          16th   of 27 Floors
440           1st   of 10 Floors
441          18th   of 32 Floors
442           6th   of 16 Floors
443           8th   of 13 Floors
444            4th   of 4 Floors
445           7th   of 27 Floors
446            9th   of 9 Floors
447            3rd   of 4 Floors
448          11st   of 18 Floors
449          17th   of 25 Floors
450           7th   of 42 Floors
451           5th   of 30 Floors
452          16th   of 32 Floors
453           2nd   of 16 Floors
454           8th   of 29 Floors
455            2nd   of 8 Floors
456           3rd   of 32 Floors
457           6th   of 26 Floors
458          Ground of 14 Floors
459           2nd   of 12 Floors
460          15th   of 40 Floors
461          10th   of 25 Floors
462          11st   of 30 Floors
463          10th   of 15 Floors
464           4th   of 12 Floors
465           3rd   of 18 Floors
466           9th   of 19 Floors
467           8th   of 16 Floors
468           7th   of 12 Floors
469           5th   of 12 Floors
470           7th   of 14 Floors
471           7th   of 14 Floors
472           9th   of 14 Floors
473           2nd   of 20 Floors
474           5th   of 18 Floors
475          11st   of 20 Floors
476           8th   of 11 Floors
477           7th   of 17 Floors
478          20th   of 26 Floors
479          10th   of 12 Floors
480           7th   of 29 Floors
481          10th   of 51 Floors
482          16th   of 21 Floors
483           8th   of 21 Floors
484           1st   of 14 Floors
485          18th   of 30 Floors
486          15th   of 30 Floors
487          25th   of 30 Floors
488           5th   of 29 Floors
489           9th   of 26 Floors
490           5th   of 26 Floors
491           7th   of 26 Floors
492           7th   of 26 Floors
493           7th   of 26 Floors
494          12nd   of 30 Floors
495           5th   of 15 Floors
496           4th   of 10 Floors
497           6th   of 10 Floors
498            3rd   of 6 Floors
499          10th   of 18 Floors
500          15th   of 28 Floors
501          15th   of 28 Floors
502          10th   of 14 Floors
503           9th   of 28 Floors
504          10th   of 15 Floors
505          10th   of 21 Floors
506           9th   of 12 Floors
507           Ground of 4 Floors
508            1st   of 2 Floors
509          11st   of 12 Floors
510          17th   of 24 Floors
511           1st   of 26 Floors
512          Ground of 18 Floors
513           7th   of 14 Floors
514            5th   of 8 Floors
515          12nd   of 29 Floors
516          14th   of 29 Floors
517          14th   of 29 Floors
518           9th   of 21 Floors
519          19th   of 29 Floors
520           8th   of 14 Floors
521          14th   of 29 Floors
522           8th   of 14 Floors
523            2nd   of 5 Floors
524           9th   of 13 Floors
525           5th   of 14 Floors
526          Ground of 14 Floors
527            6th   of 8 Floors
528          10th   of 19 Floors
529           6th   of 10 Floors
530           8th   of 18 Floors
531           9th   of 24 Floors
532           9th   of 26 Floors
533          12nd   of 17 Floors
534          11st   of 16 Floors
535           6th   of 16 Floors
536          15th   of 39 Floors
537           7th   of 12 Floors
538           8th   of 19 Floors
539           8th   of 26 Floors
540           3rd   of 26 Floors
541          10th   of 26 Floors
542           1st   of 26 Floors
543           4th   of 26 Floors
544           5th   of 12 Floors
545           2nd   of 12 Floors
546          20th   of 40 Floors
547          13rd   of 40 Floors
548           8th   of 40 Floors
549           8th   of 19 Floors
550          16th   of 19 Floors
551          12nd   of 18 Floors
552          10th   of 19 Floors
553           6th   of 15 Floors
554          16th   of 19 Floors
555           8th   of 16 Floors
556          12nd   of 15 Floors
557          12nd   of 18 Floors
558           5th   of 22 Floors
559           9th   of 42 Floors
560           7th   of 14 Floors
561           7th   of 12 Floors
562           7th   of 12 Floors
563           5th   of 16 Floors
564           8th   of 31 Floors
565           7th   of 21 Floors
566           5th   of 29 Floors
567           9th   of 30 Floors
568          11st   of 29 Floors
569          10th   of 19 Floors
570           6th   of 31 Floors
571            3rd   of 9 Floors
572          22nd   of 30 Floors
573           5th   of 20 Floors
574          15th   of 29 Floors
575           5th   of 14 Floors
576          Ground of 14 Floors
577           6th   of 14 Floors
578           1st   of 24 Floors
579            2nd   of 8 Floors
580          12nd   of 19 Floors
581          12nd   of 25 Floors
582           6th   of 17 Floors
583           8th   of 18 Floors
584            4th   of 5 Floors
585           5th   of 25 Floors
586           2nd   of 19 Floors
587          20th   of 30 Floors
588          12nd   of 14 Floors
589          18th   of 19 Floors
590           2nd   of 26 Floors
591           3rd   of 15 Floors
592           3rd   of 19 Floors
593          18th   of 51 Floors
594           7th   of 27 Floors
595          17th   of 19 Floors
596           8th   of 14 Floors
597           2nd   of 19 Floors
598           8th   of 19 Floors
599           9th   of 30 Floors
600           3rd   of 18 Floors
601          12nd   of 23 Floors
602          10th   of 28 Floors
603            2nd   of 5 Floors
604          Ground of 21 Floors
605           7th   of 16 Floors
606            2nd   of 9 Floors

In [ ]:
df['floorNum'].isnull().sum()

2

In [ ]:
df[df['floorNum'].isnull()]

,property_name,society,price,price_per_sqft,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
181,3 BHK Flat in Dwarka Expressway Gurgaon,experion heartsong,1.08,6150.0,Built Up area: 1758 (163.32 sq.m.),3,3,0,not available,"604, Tower B-3, 6th Floor,Sector 108, Dwarka E...",NaN,NaN,Under Construction,NaN,A property by one of the most reputed builders...,[],NaN,NaN
2766,2 BHK Flat in Sector 78 Gurgaon,nan,0.60,3692.0,Built Up area: 1625 (150.97 sq.m.),2,2,0,not available,"Gurgaon, Sector 78 Gurgaon, Gurgaon, Haryana",NaN,NaN,Under Construction,NaN,The property is under construction it's by rah...,[],NaN,"['Safety4 out of 5', 'Lifestyle4 out of 5', 'E..."

In [ ]:
df.head()

,property_name,society,price,price_per_sqft,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,2 BHK Flat in Krishna Colony,maa bhagwati residency,0.45,5000.0,Carpet area: 900 (83.61 sq.m.),2,2,1,not available,"Krishna Colony, Gurgaon, Haryana",4th of 4 Floors,West,1 to 5 Year Old,"['Chintapurni Mandir', 'State bank ATM', 'Pear...",So with lift.Maa bhagwati residency is one of ...,"['3 Fan', '4 Light', '1 Wardrobe', 'No AC', 'N...","['Feng Shui / Vaastu Compliant', 'Security / F...","['Environment4 out of 5', 'Safety4 out of 5', ..."
1,2 BHK Flat in Ashok Vihar,apna enclave,0.50,7692.0,Carpet area: 650 (60.39 sq.m.),2,2,1,not available,"46b, Ashok Vihar, Gurgaon, Haryana",1st of 3 Floors,West,10+ Year Old,"['Chintapurni Mandir', 'Sheetla Mata Mandir', ...","Property situated on main road, railway statio...","['3 Wardrobe', '4 Fan', '1 Exhaust Fan', '1 Ge...","['Security / Fire Alarm', 'Maintenance Staff',...","['Environment4 out of 5', 'Safety4 out of 5', ..."
2,2 BHK Flat in Sohna,tulsiani easy in homes,0.40,6722.0,Carpet area: 595 (55.28 sq.m.),2,2,3,not available,"Sohna, Gurgaon, Haryana",12nd of 14 Floors,NaN,0 to 1 Year Old,"['Huda City Metro', 'Golf Course extn road', '...","This property is 15 km away from badshapur, gu...",NaN,"['Power Back-up', 'Feng Shui / Vaastu Complian...","['Environment4 out of 5', 'Safety4 out of 5', ..."
3,2 BHK Flat in Sector 61 Gurgaon,smart world orchard,1.47,12250.0,Carpet area: 1200 (111.48 sq.m.),2,2,2,study room,"Sector 61 Gurgaon, Gurgaon, Haryana",2nd of 4 Floors,NaN,Dec-23,"['Sector 55-56 Metro station', 'Bestech Centra...",Near to metro station of sector 56 and opposit...,NaN,"['Security / Fire Alarm', 'Private Garden / Te...",NaN
4,2 BHK Flat in Sector 92 Gurgaon,parkwood westend,0.70,5204.0,Super Built up area 1345(124.95 sq.m.),2,2,3,study room,"Sector 92 Gurgaon, Gurgaon, Haryana",5th of 8 Floors,NaN,Under Construction,"['Yadav Clinic', 'Bangali Clinic', 'Dr. J. S. ...",We are the proud owners of this 2 bhk alongwit...,[],NaN,"['Environment5 out of 5', 'Safety3 out of 5', ..."

In [ ]:
df['floorNum'] = df['floorNum'].str.split(' ').str.get(0).replace('Ground','0').str.replace('Basement','-1').str.replace('Lower','0').str.extract(r'(\d+)')

In [ ]:
df.head()

,property_name,society,price,price_per_sqft,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,2 BHK Flat in Krishna Colony,maa bhagwati residency,0.45,5000.0,Carpet area: 900 (83.61 sq.m.),2,2,1,not available,"Krishna Colony, Gurgaon, Haryana",4,West,1 to 5 Year Old,"['Chintapurni Mandir', 'State bank ATM', 'Pear...",So with lift.Maa bhagwati residency is one of ...,"['3 Fan', '4 Light', '1 Wardrobe', 'No AC', 'N...","['Feng Shui / Vaastu Compliant', 'Security / F...","['Environment4 out of 5', 'Safety4 out of 5', ..."
1,2 BHK Flat in Ashok Vihar,apna enclave,0.50,7692.0,Carpet area: 650 (60.39 sq.m.),2,2,1,not available,"46b, Ashok Vihar, Gurgaon, Haryana",1,West,10+ Year Old,"['Chintapurni Mandir', 'Sheetla Mata Mandir', ...","Property situated on main road, railway statio...","['3 Wardrobe', '4 Fan', '1 Exhaust Fan', '1 Ge...","['Security / Fire Alarm', 'Maintenance Staff',...","['Environment4 out of 5', 'Safety4 out of 5', ..."
2,2 BHK Flat in Sohna,tulsiani easy in homes,0.40,6722.0,Carpet area: 595 (55.28 sq.m.),2,2,3,not available,"Sohna, Gurgaon, Haryana",12,NaN,0 to 1 Year Old,"['Huda City Metro', 'Golf Course extn road', '...","This property is 15 km away from badshapur, gu...",NaN,"['Power Back-up', 'Feng Shui / Vaastu Complian...","['Environment4 out of 5', 'Safety4 out of 5', ..."
3,2 BHK Flat in Sector 61 Gurgaon,smart world orchard,1.47,12250.0,Carpet area: 1200 (111.48 sq.m.),2,2,2,study room,"Sector 61 Gurgaon, Gurgaon, Haryana",2,NaN,Dec-23,"['Sector 55-56 Metro station', 'Bestech Centra...",Near to metro station of sector 56 and opposit...,NaN,"['Security / Fire Alarm', 'Private Garden / Te...",NaN
4,2 BHK Flat in Sector 92 Gurgaon,parkwood westend,0.70,5204.0,Super Built up area 1345(124.95 sq.m.),2,2,3,study room,"Sector 92 Gurgaon, Gurgaon, Haryana",5,NaN,Under Construction,"['Yadav Clinic', 'Bangali Clinic', 'Dr. J. S. ...",We are the proud owners of this 2 bhk alongwit...,[],NaN,"['Environment5 out of 5', 'Safety3 out of 5', ..."

# **facing**

In [ ]:
df['facing'].value_counts()

North-East    505
East          490
North         301
South         203
West          183
North-West    162
South-East    144
South-West    135
Name: facing, dtype: int64

In [ ]:
df['facing'].isnull().sum()

874

In [ ]:
df.head()

,property_name,society,price,price_per_sqft,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,2 BHK Flat in Krishna Colony,maa bhagwati residency,0.45,5000.0,Carpet area: 900 (83.61 sq.m.),2,2,1,not available,"Krishna Colony, Gurgaon, Haryana",4,West,1 to 5 Year Old,"['Chintapurni Mandir', 'State bank ATM', 'Pear...",So with lift.Maa bhagwati residency is one of ...,"['3 Fan', '4 Light', '1 Wardrobe', 'No AC', 'N...","['Feng Shui / Vaastu Compliant', 'Security / F...","['Environment4 out of 5', 'Safety4 out of 5', ..."
1,2 BHK Flat in Ashok Vihar,apna enclave,0.50,7692.0,Carpet area: 650 (60.39 sq.m.),2,2,1,not available,"46b, Ashok Vihar, Gurgaon, Haryana",1,West,10+ Year Old,"['Chintapurni Mandir', 'Sheetla Mata Mandir', ...","Property situated on main road, railway statio...","['3 Wardrobe', '4 Fan', '1 Exhaust Fan', '1 Ge...","['Security / Fire Alarm', 'Maintenance Staff',...","['Environment4 out of 5', 'Safety4 out of 5', ..."
2,2 BHK Flat in Sohna,tulsiani easy in homes,0.40,6722.0,Carpet area: 595 (55.28 sq.m.),2,2,3,not available,"Sohna, Gurgaon, Haryana",12,NaN,0 to 1 Year Old,"['Huda City Metro', 'Golf Course extn road', '...","This property is 15 km away from badshapur, gu...",NaN,"['Power Back-up', 'Feng Shui / Vaastu Complian...","['Environment4 out of 5', 'Safety4 out of 5', ..."
3,2 BHK Flat in Sector 61 Gurgaon,smart world orchard,1.47,12250.0,Carpet area: 1200 (111.48 sq.m.),2,2,2,study room,"Sector 61 Gurgaon, Gurgaon, Haryana",2,NaN,Dec-23,"['Sector 55-56 Metro station', 'Bestech Centra...",Near to metro station of sector 56 and opposit...,NaN,"['Security / Fire Alarm', 'Private Garden / Te...",NaN
4,2 BHK Flat in Sector 92 Gurgaon,parkwood westend,0.70,5204.0,Super Built up area 1345(124.95 sq.m.),2,2,3,study room,"Sector 92 Gurgaon, Gurgaon, Haryana",5,NaN,Under Construction,"['Yadav Clinic', 'Bangali Clinic', 'Dr. J. S. ...",We are the proud owners of this 2 bhk alongwit...,[],NaN,"['Environment5 out of 5', 'Safety3 out of 5', ..."

In [ ]:
df['facing'].fillna('NA',inplace=True)

In [ ]:
df['facing'].value_counts()

NA            874
North-East    505
East          490
North         301
South         203
West          183
North-West    162
South-East    144
South-West    135
Name: facing, dtype: int64

In [ ]:
df.insert(loc=4,column='area',value=round((df['price']*10000000)/df['price_per_sqft']))

In [ ]:
df.insert(loc=1,column='property_type',value='flat')

In [ ]:
df.head()

,property_name,property_type,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,2 BHK Flat in Krishna Colony,flat,maa bhagwati residency,0.45,5000.0,900.0,Carpet area: 900 (83.61 sq.m.),2,2,1,not available,"Krishna Colony, Gurgaon, Haryana",4,West,1 to 5 Year Old,"['Chintapurni Mandir', 'State bank ATM', 'Pear...",So with lift.Maa bhagwati residency is one of ...,"['3 Fan', '4 Light', '1 Wardrobe', 'No AC', 'N...","['Feng Shui / Vaastu Compliant', 'Security / F...","['Environment4 out of 5', 'Safety4 out of 5', ..."
1,2 BHK Flat in Ashok Vihar,flat,apna enclave,0.50,7692.0,650.0,Carpet area: 650 (60.39 sq.m.),2,2,1,not available,"46b, Ashok Vihar, Gurgaon, Haryana",1,West,10+ Year Old,"['Chintapurni Mandir', 'Sheetla Mata Mandir', ...","Property situated on main road, railway statio...","['3 Wardrobe', '4 Fan', '1 Exhaust Fan', '1 Ge...","['Security / Fire Alarm', 'Maintenance Staff',...","['Environment4 out of 5', 'Safety4 out of 5', ..."
2,2 BHK Flat in Sohna,flat,tulsiani easy in homes,0.40,6722.0,595.0,Carpet area: 595 (55.28 sq.m.),2,2,3,not available,"Sohna, Gurgaon, Haryana",12,NA,0 to 1 Year Old,"['Huda City Metro', 'Golf Course extn road', '...","This property is 15 km away from badshapur, gu...",NaN,"['Power Back-up', 'Feng Shui / Vaastu Complian...","['Environment4 out of 5', 'Safety4 out of 5', ..."
3,2 BHK Flat in Sector 61 Gurgaon,flat,smart world orchard,1.47,12250.0,1200.0,Carpet area: 1200 (111.48 sq.m.),2,2,2,study room,"Sector 61 Gurgaon, Gurgaon, Haryana",2,NA,Dec-23,"['Sector 55-56 Metro station', 'Bestech Centra...",Near to metro station of sector 56 and opposit...,NaN,"['Security / Fire Alarm', 'Private Garden / Te...",NaN
4,2 BHK Flat in Sector 92 Gurgaon,flat,parkwood westend,0.70,5204.0,1345.0,Super Built up area 1345(124.95 sq.m.),2,2,3,study room,"Sector 92 Gurgaon, Gurgaon, Haryana",5,NA,Under Construction,"['Yadav Clinic', 'Bangali Clinic', 'Dr. J. S. ...",We are the proud owners of this 2 bhk alongwit...,[],NaN,"['Environment5 out of 5', 'Safety3 out of 5', ..."

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2997 entries, 0 to 3007
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   property_name    2997 non-null   object
 1   property_type    2997 non-null   object
 2   society          2997 non-null   object
 3   price            2996 non-null   float64
 4   price_per_sqft   2996 non-null   float64
 5   area             2996 non-null   float64
 6   areaWithType     2997 non-null   object
 7   bedRoom          2997 non-null   int64
 8   bathroom         2997 non-null   int64
 9   balcony          2997 non-null   object
 10  additionalRoom   2997 non-null   object
 11  address          2991 non-null   object
 12  floorNum         2995 non-null   object
 13  facing           2997 non-null   object
 14  agePossession    2996 non-null   object
 15  nearbyLocations  2906 non-null   object
 16  description      2997 non-null   object
 17  furnishDetails   2200 non-null   object
 18  features         2590 non-null   object
 19  rating           2668 non-null   object
dtypes: float64(3), int64(2), object(15)
memory usage: 491.7+ KB

In [ ]:
df.shape

(2997, 20)

In [ ]:
df.to_csv('flats_cleaned.csv',index=False)